<extend name="Base/member_common"/>
<block name="body">
    <!-- 内容 -->
    <div class="wrap" style="background-color: #f5f5f5;">
        <div class="guidance towp"><a href="javascript:;">首页</a><a href="javascript:;"> > 会员首页</a></div>
        <div class="content_agency towp clear">
            <div class="content_left">
                <include file="Member/member_menu"/>
            </div>
            <div class="content_right" style="border: 0;">
                <div class="members_box">
                    <div class="members clear">
                        <div class="tx_box"><a class="tx" href="javascript:;"><span>编辑</span></a></div>
                        <div class="information">
                            <p>温柔豢养123</p>
                            <p><span><em>v1</em>会员</span><span>资深</span></p>
                            <ul class="security clear">
                                <li>安全等级:</li>
                                <li></li>
                                <li>中</li>
                                <li><a href="javascript:;">提升</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="invitation">
                        <h3>邀请</h3>
                        <ul class="clear">
                            <li>
                                <div class="code"><label for="">服务码：</label><input type="tel" name="" placeholder="输入服务码" /></div>
                                <input type="button" name="" id="" value="发送短信" />
                            </li>
                            <li>
                                <span><img src="__IMG__/agencyManage/qrCode.jpg"/></span>
                                <div class="btn">
                                    <a href="javascript:;">更改</a>
                                    <a href="javascript:;">导出</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="options_box">
                    <div class="tab">
                        <ul class="clear">
                            <li class="active">代理管理</li>
                            <li>订单信息</li>
                            <li>商品信息</li>
                            <li>会员数据</li>
                            <li>结算信息</li>
                        </ul>
                    </div>
                    <div class="options">
                        <div class="agency">
                            <div class="data clear">
                                <div class="data_left" >
                                    <h3>订单数据量：</h3>
                                    <div class="quantity">

                                    </div>
                                </div>
                                <div class="data_right">
                                    <p>结算金额（元）：</p>
                                    <p><em>56.00</em></p>
                                    <span>商品数量<i>（100）</i></span>
                                    <span>未处理订单<i>（45）</i></span>
                                    <span>会员总数<i>（130）</i></span>
                                </div>
                            </div>
                        </div>
                        <div class="order">
                            <div class="search clear">
                                <input class="ss" type="button" name="" id=""/>
                                <input class="hy" type="text" name="" id="" placeholder="订单编号/会员" />
                                <div class="bl">
                                    <label for="">状态：</label>
                                    <select name="">
                                        <option value=""></option>
                                        <option value="">fjie</option>
                                        <option value="">dfd</option>
                                        <option value="">dfd</option>
                                        <option value="">grg</option>
                                    </select>
                                </div>
                                <div class="date">
                                    <label for="">日期：</label>
                                    <input type="text" name="" id="" value="" />
                                    <span>-</span>
                                    <input type="text" name="" id="" value="" />
                                </div>
                            </div>
                            <div class="data clear">
                                <div class="data_left" >
                                    <div class="quantity">

                                    </div>
                                </div>
                                <div class="data_right">
                                    <p>待处理订单：</p>
                                    <p><em>66</em></p>
                                </div>
                            </div>
                            <div class="xx">
                                <div class="tab_box">
                                    <ul class="clear">
                                        <li class="active">全部</li>
                                        <li>补录</li>
                                        <li>待处理<i>（6）</i></li>
                                    </ul>
                                </div>
                                <table>
                                    <tr><th><input type="checkbox" name="" id="" value="" /><span>全选</span></th><th>订单编号</th><th>时间</th><th>会员</th><th>商品数量</th><th>订单金额（元）</th><th>运费（元）</th><th>配送方式</th><th>订单状态</th><th>操作</th></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">已确认</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">发货</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">发货</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">编辑</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">编辑</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">已确认</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">编辑</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">发货</a></td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="commodity">
                            <div class="search clear">
                                <input class="dc" type="button" name="" id="" value="导出" />
                                <input class="ss" type="button" name="" id=""/>
                                <input class="hy" type="text" name="" id="" placeholder="商品" />
                                <div class="date">
                                    <label for="">日期：</label>
                                    <input type="text" name="" id="" value="" />
                                    <span>-</span>
                                    <input type="text" name="" id="" value="" />
                                </div>
                            </div>
                            <div class="data clear">
                                <div class="data_left" >
                                    <div class="quantity">

                                    </div>
                                </div>
                                <div class="data_right">
                                    <p>商品数量：</p>
                                    <p><em>1860</em></p>
                                </div>
                            </div>
                            <div class="xx">
                                <h3>商品信息</h3>
                                <table>
                                    <tr><th>商品信息</th><th>商品规格</th><th>成本金额（元）</th><th>市场金额（元）</th><th>单品提成（元）</th><th>商品销售总数</th><th>采购数量</th><th>库存</th><th>操作</th></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td class="zero">0</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td>121</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td>300</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td class="zero">0</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td>255</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td>522</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td>220</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td>200</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                    <tr><td>优乐美</td><td>750ml</td><td>25.00</td><td>29.00</td><td>4.00</td><td>2000</td><td>2000</td><td>300</td><td><a href="javascript:;">查看</a><a href="javascript:;">采购</a></td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="member">
                            <div class="search clear">
                                <input class="ss" type="button" name="" id=""/>
                                <input class="hy" type="text" name="" id="" placeholder="会员" />
                            </div>
                            <div class="data clear">
                                <div class="data_left" >
                                    <div class="quantity">

                                    </div>
                                </div>
                                <div class="data_right">
                                    <p>会员数量：</p>
                                    <p><em>130</em></p>
                                </div>
                            </div>
                            <div class="xx">
                                <h3>会员信息</h3>
                                <table>
                                    <tr><th>会员信息</th><th>联系方式</th><th>订单数量</th><th>提成总额（元）</th></tr>
                                    <tr>
                                        <td class="clear">
                                            <a class="tou" href="jacascript:;"><img src="__IMG__/agencyManage/tou.jpg"/></a>
                                            <a class="name" href="javascript:;">时间诶哦</a>
                                        </td>
                                        <td>138****9865</td><td>100</td><td>288<i>.00</i></td>
                                    </tr>
                                    <tr>
                                        <td class="clear">
                                            <a class="tou" href="jacascript:;"><img src="__IMG__/agencyManage/tou.jpg"/></a>
                                            <a class="name" href="javascript:;">时间诶哦</a>
                                        </td>
                                        <td>138****9865</td><td>100</td><td>288<i>.00</i></td>
                                    </tr>
                                    <tr>
                                        <td class="clear">
                                            <a class="tou" href="jacascript:;"><img src="__IMG__/agencyManage/tou.jpg"/></a>
                                            <a class="name" href="javascript:;">时间诶哦</a>
                                        </td>
                                        <td>138****9865</td><td>100</td><td>288<i>.00</i></td>
                                    </tr>
                                    <tr>
                                        <td class="clear">
                                            <a class="tou" href="jacascript:;"><img src="__IMG__/agencyManage/tou.jpg"/></a>
                                            <a class="name" href="javascript:;">时间诶哦</a>
                                        </td>
                                        <td>138****9865</td><td>100</td><td>288<i>.00</i></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="settlement">
                            <div class="search clear">
                                <input class="ss" type="button" name="" id=""/>
                                <input class="hy" type="text" name="" id="" placeholder="会员" />
                                <div class="date">
                                    <label for="">日期：</label>
                                    <input type="text" name="" id="" value="" />
                                    <span>-</span>
                                    <input type="text" name="" id="" value="" />
                                </div>
                            </div>
                            <div class="data clear">
                                <div class="data_left" >
                                    <div class="quantity">

                                    </div>
                                </div>
                                <div class="data_right">
                                    <p>结算金额（元）：</p>
                                    <p><em>56.00</em></p>
                                </div>
                            </div>
                            <div class="xx">
                                <h3>结算信息</h3>
                                <table>
                                    <tr><th>结算单号</th><th>年/月份</th><th>金额（元）</th><th>状态</th></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>-- --</td><td>未结算</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                    <tr><td>L201602</td><td>12/11</td><td>2900</td><td>已完结</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
    /*选项卡*/
     $(".tab li").click(function(){
    	$(this).addClass('active').siblings().removeClass('active')
    	$('.options>div').eq($(this).index()).show().siblings().hide();
    });
    /*end 选项卡*/
   /* $(function(){
        $('.xlph-list > li').mouseenter(function(){
            $(' .active').removeClass("active");
            $(this).toggleClass("active")
        });
        var nav = $('#j_nav');
        var navTop = nav.offset().top;
        $(window).scroll(function (e) {
            if ($(this).scrollTop() >= navTop) {
                nav.addClass('m-nav-fix');

            } else {
                nav.removeClass('m-nav-fix');
            }
    });*/
    </script>
</block>