<extend name="Base/member_common"/>
<block name="body">
    <div class="wrap" style="background-color: #f5f5f5;">
        <div class="guidance towp"><a href="javascript:;">首页</a><a href="javascript:;"> > 会员首页</a></div>
        <div class="content_mc towp clear">
            <div class="content_left">
                <include file="Member/member_menu"/>
            </div>
            <div class="content right-con2 order-mana cG sP">
                <div class="con-tit"><h2 class="">订单管理</h2></div>
                <div class="steps"></div>
                <div class="contents clear">
                    <div class="contents_left">
                        <h3>订单信息</h3>
                        <dl>
                            <dt>订单编号：</dt>
                            <dd>126542332323232</dd>
                        </dl>
                        <dl>
                            <dt>付款方式：</dt>
                            <dd>在线支付</dd>
                        </dl>
                        <dl>
                            <dt>收货地址：</dt>
                            <dd>张三三，15123232323 重庆市，渝北区，北部新区回兴街道13号，400021</dd>
                        </dl>
                        <dl>
                            <dt>订单编号：</dt>
                            <dd>126542332323232</dd>
                        </dl>
                        <dl>
                            <dt>买家留言：</dt>
                            <dd>什么东东</dd>
                        </dl>
                        <dl>
                            <dt>创建时间：</dt>
                            <dd>2015-09-23 19:23:35</dd>
                        </dl>
                        <dl>
                            <dt>发货时间：</dt>
                            <dd>2015-09-23 19:23:35</dd>
                        </dl>
                        <dl>
                            <dt>付款时间：</dt>
                            <dd>2015-09-23 19:23:35</dd>
                        </dl>
                    </div>
                    <div class="contents_right sp">
                        <div class="ts">
                            <p>商品已拍下，请及时<i>付款</i>，3天内若未即使付款，系统将自动取消订单。 </p>
                            <span>如有疑问，请<a href="javascript:;">联系客服</a>。</span>
                            <em>剩余22时53分</em>
                            <a href="javascript:;">立即付款</a>
                        </div>
                    </div>
                </div>
                <div class="tables">
                    <h3>订单详情</h3>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <colgroup span="6">
                            <col width="30%" />
                            <col width="12%" />
                            <col width="12%" />
                            <col width="12%" />
                            <col width="12%" />
                            <col width="12%" />
                        </colgroup>
                        <tr><th>商品</th><th>单价（元）</th><th>数量</th><th>优惠（元）</th><th>状态</th><th>运费（元）</th></tr>
                        <tr>
                            <td>
                                <a href="javascript:;"><img src="include/img/orderList.jpg"/></a>
                                <div>
                                    <p>韩国专柜正品迷尚BB霜象牙白适合偏白肤色人群使用</p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>180.00</td>
                            <td>1</td>
                            <td>省99.00元</td>
                            <td rowspan="3">待付款</td>
                            <td rowspan="3">客服待确认</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:;"><img src="include/img/orderList.jpg"/></a>
                                <div>
                                    <p>韩国专柜正品迷尚BB霜象牙白适合偏白肤色人群使用</p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>180.00</td>
                            <td>1</td>
                            <td>省99.00元</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:;"><img src="include/img/orderList.jpg"/></a>
                                <div>
                                    <p>韩国专柜正品迷尚BB霜象牙白适合偏白肤色人群使用</p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>180.00</td>
                            <td>1</td>
                            <td>省99.00元</td>
                        </tr>
                    </table>
                    <div class="jin">
                        <p>税费：0.00</p>
                        <p>税率：0.00</p>
                        <p>实付款：<em>￥265.00</em></p>
                    </div>
                </div>

            </div>
        </div>
</block>