<extend name="Base/member_common"/>
<block name="body">
    <!-- 位置 -->
    <div class="towp">
        <div class="you-posi"><p>您的位置：<a href="index.html">首页</a> >  <span class="position-now">安全验证</span></p></div>
    </div>
    <div class="towp yh-wrap content_agency clear">
        <div class="content_left">
            <include file="Member/member_menu"/>
        </div>
        <div class="content right-con2 order-mana">
            <div class="con-tit"><h2 class="">售后管理</h2>
                <div class="sear  fr">
                    <i class="bg"></i><input type="text" class="bor3" placeholder="商品名称/商品编号/订单号">
                    <!--<div class="sear-date fr">-->
                    <!--日期：<span><input type="text" class="bor2"  /><i class="bg"></i></span><em class="big-font">_</em><span><input type="text" class="bor2"  /><i class="bg"></i></span>-->
                    <!--</div>-->
                </div>
            </div>

            <!--导航 E-->
            <!--列表 S-->
            <div class="order-table">
                <div class="order-tit">
                    <span class="active9" ><a class="" href="#">全部订单<span class="colo6">（6）</span></a></span>
                    <span ><a href="#">待处理</a></span>
                    <span ><a href="#">已处理</a></span>
                    <div class="tables">
                        <table width="100%">
                            <colgroup span="8">
                                <col width="33%" />
                                <col width="8%" />
                                <col width="8%" />
                                <col width="8%" />
                                <col width="8%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="15%" />
                            </colgroup>
                            <tr><th>商品</th><th>价格（元）</th><th>数量</th><th>运费</th><th>税费</th><th>总价</th><th>订单状态</th><th>操作</th></tr>
                        </table>
                    </div>
                </div>
                <div class="tables_1">
                    <table width="100%">
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="" />
                                <span>全选</span>
                                <span>订单编号：465623233121</span>
                                <span>下单时间：2015-09-16 19:25:32</span>
                                <a href="javascript:;">查看订单详情</a>
                            </td>
                        </tr>
                    </table>
                    <table class="cp" width="100%">
                        <colgroup span="8">
                            <col width="33%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="15%" />
                        </colgroup>
                        <tr>
                            <td class="clear">
                                <input type="checkbox" name="" id=""/>
                                <a class="im" href="jacascript:;"><img src="__IMG__/up_cs1.jpg"/></a>
                                <div class="xinx">
                                    <p><a href="javascript:;">韩国专柜正品迷尚气垫BB霜象牙白适合偏白肤色</a></p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>144.00</td>
                            <td>x1</td>
                            <td>0.00</td>
                            <td>10.00</td>
                            <td>￥288.00</td>
                            <td>待付款</td>
                            <td>
                                <span>剩余22时55分</span>
                                <a class="pj" href="{:U('refund/add')}">取消</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tables_1">
                    <table width="100%">
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="" />
                                <span>全选</span>
                                <span>订单编号：465623233121</span>
                                <span>下单时间：2015-09-16 19:25:32</span>
                                <a href="javascript:;">查看订单详情</a>
                            </td>
                        </tr>
                    </table>
                    <table class="cp" width="100%">
                        <colgroup span="8">
                            <col width="33%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="15%" />
                        </colgroup>
                        <tr>
                            <td class="clear">
                                <input type="checkbox" name="" id=""/>
                                <a class="im" href="jacascript:;"><img src="__IMG__/up_cs1.jpg"/></a>
                                <div class="xinx">
                                    <p><a href="javascript:;">韩国专柜正品迷尚气垫BB霜象牙白适合偏白肤色</a></p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>144.00</td>
                            <td>x1</td>
                            <td>0.00</td>
                            <td>10.00</td>
                            <td>￥288.00</td>
                            <td>待付款</td>
                            <td>
                                <span>剩余22时55分</span>
                                <a class="pj" href="javascript:;">取消</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tables_1">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="" />
                                <span>全选</span>
                                <span>订单编号：465623233121</span>
                                <span>下单时间：2015-09-16 19:25:32</span>
                                <a href="javascript:;">查看订单详情</a>
                            </td>
                        </tr>
                    </table>
                    <table class="cp" width="100%">
                        <colgroup span="8">
                            <col width="33%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="15%" />
                        </colgroup>
                        <tr>
                            <td class="clear">
                                <input type="checkbox" name="" id=""/>
                                <a class="im" href="jacascript:;"><img src="__IMG__/up_cs1.jpg"/></a>
                                <div class="xinx">
                                    <p><a href="javascript:;">韩国专柜正品迷尚气垫BB霜象牙白适合偏白肤色</a></p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>144.00</td>
                            <td>x1</td>
                            <td>0.00</td>
                            <td>10.00</td>
                            <td>￥288.00</td>
                            <td>待付款</td>
                            <td>
                                <a class="sc" href="javascript:;">删除</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tables_1">
                    <table width="100%">
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="" />
                                <span>全选</span>
                                <span>订单编号：465623233121</span>
                                <span>下单时间：2015-09-16 19:25:32</span>
                                <a href="javascript:;">查看订单详情</a>
                            </td>
                        </tr>
                    </table>
                    <table class="cp" width="100%">
                        <colgroup span="8">
                            <col width="33%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="15%" />
                        </colgroup>
                        <tr>
                            <td class="clear">
                                <input type="checkbox" name="" id=""/>
                                <a class="im" href="jacascript:;"><img src="__IMG__/up_cs1.jpg"/></a>
                                <div class="xinx">
                                    <p><a href="javascript:;">韩国专柜正品迷尚气垫BB霜象牙白适合偏白肤色</a></p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>144.00</td>
                            <td>x1</td>
                            <td>0.00</td>
                            <td>10.00</td>
                            <td>￥288.00</td>
                            <td>待付款</td>
                            <td>
                                <a class="sc" href="javascript:;">删除</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tables_1">
                    <table width="100%">
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="" />
                                <span>全选</span>
                                <span>订单编号：465623233121</span>
                                <span>下单时间：2015-09-16 19:25:32</span>
                                <a href="javascript:;">查看订单详情</a>
                            </td>
                        </tr>
                    </table>
                    <table class="cp" width="100%">
                        <colgroup span="8">
                            <col width="33%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="8%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="15%" />
                        </colgroup>
                        <tr>
                            <td class="clear">
                                <input type="checkbox" name="" id=""/>
                                <a class="im" href="jacascript:;"><img src="__IMG__/up_cs1.jpg"/></a>
                                <div class="xinx">
                                    <p><a href="javascript:;">韩国专柜正品迷尚气垫BB霜象牙白适合偏白肤色</a></p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>144.00</td>
                            <td>x1</td>
                            <td>0.00</td>
                            <td>10.00</td>
                            <td rowspan="2">￥288.00</td>
                            <td  rowspan="2">待付款</td>
                            <td rowspan="2">
                                <span>剩余22时55分</span>
                                <a class="pj" href="javascript:;">取消</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <input type="checkbox" name="" id=""/>
                                <a class="im" href="jacascript:;"><img src="__IMG__/up_cs1.jpg"/></a>
                                <div class="xinx">
                                    <p><a href="javascript:;">韩国专柜正品迷尚气垫BB霜象牙白适合偏白肤色</a></p>
                                    <em>象牙白；100ml</em>
                                </div>
                            </td>
                            <td>144.00</td>
                            <td>x1</td>
                            <td>0.00</td>
                            <td>10.00</td>
                        </tr>
                    </table>
                </div>
                <div class="paging_box clear">
                    <a href="javascript:;">确认</a>
                    <p>到第<input type="tel" />页</p>
                    <div class="paging">
                        <a href="javascript:;"><</a>
                        <ul class="clear">
                            <li><a class="active" href="javacript:;">1</a></li>
                            <li><a href="javacript:;">2</a></li>
                            <li><a href="javacript:;">3</a></li>
                            <li><a href="javacript:;">4</a></li>
                        </ul>
                        <a href="javascript:;">></a>
                    </div>
                    <span>共4页</span>
                </div>
            </div> <!--列表 E-->
        </div>
    </div>
</block>