<extend name="Base/common_index"/>
<block name='style'>
    <style>
        body{
            background-color: #fafafa;
        }
    </style>
</block>
<block name="body">
    <!--头部 S-->
    <div class="herder">
        <a href="javascript:history.go(-1);" class="back"><i></i></a>
        <h3>购物车</h3>
        <div class="herd_r"><a style='background: #e65e5f' href="javascript:;" class="flow_bj">编辑</a></div>

    </div>
    <div class="t_line"></div>
    <include file="Cart/cart.menu"/>
    <!--头部 E-->
    <!--有商品购物车 S--> 
    <form action='{:U("Checkout/buystep1")}' method="post" name="cartform" id="cartform">
        <div class="flow_nav">
            <ul>
                <volist name='usercart' id='vo' key='k'>
                    <li>
                        <dl>
                            <dd>
                            <input type="checkbox" <if condition="$vo.handle_status eq true"> checked="checked" </if> class="chk flow_checkbox" name="sort[]" value="{$vo.sort}" <if condition="$vo.handle_status eq false"> disabled='disabled' </if> />
                            <div class="img"><a href="{:U('Goods/detail',array('channelname'=>$vo['channelname'],'id'=>$vo['goodid']))}"><img src="{$vo.goodid|get_cover_picture_url}"></a></div>
                            <div class="flow_sp_nr">
                                <h3><a href="{:U('Goods/detail',array('channelname'=>$vo['channelname'],'id'=>$vo['goodid']))}">
                                        {$vo.goodid|get_good_name}</a>
                                </h3>
                                <div class="spsx">
                                    <notempty name='vo.parameters'>
                                        <span>{$vo.parameters}</span> 
                                    </notempty>
                                    <notempty name='vo.promsg'>
                                        <span>{$vo.promsg}</span>
                                    </notempty>
                                </div>
                                <div class="price" style="display: none;">&yen;<span class="sorttotal" id="total{$vo.sort}">{$vo[goodsItemTotal]}</span></div>
                                <div class="price">&yen;<span>{$vo[price]}</span></div>
                                <!--<div class="price">&yen;<span class="sorttotal" id="total{$vo.sort}">-{:($vo[price]*$vo[num])}-{$vo[price]}</span></div>-->
                                <div class="number">
                                    <if condition="$vo.handle_status eq true"> 
                                        <span class="min num_jian add_ioc" rel="{$vo.sort}">-</span>
                                        <input type="text" id="coun-num" rel="{$vo.sort}" name="num[{$vo.sort}]" maxlength="2" readonly="readonly" class="add-min num_val" value="{$vo.num}">
                                        <span class="add-num num_jia minus_ioc" rel="{$vo.sort}">+</span>
                                        <else/>
                                        <span style="cursor:pointer;color: #F78B83; width: 1.6rem;">失效商品</span>
                                    </if>
                                </div>
                            </div>
                            </dd>
                        </dl>
                        <input type="hidden" value="{$vo.price}" name="price[{$vo.sort}]"/>
                        <input type="hidden" value="{$vo.goodid}" name="goodid[{$vo.sort}]"/>
                        <input type="hidden" value="{$vo.type}" name="type[{$vo.sort}]"/>
                        <input type="hidden" value="{$vo.parameters}" name="parameters[{$vo.sort}]"/>
                        <input type="hidden" value="{$vo.promsg}" name="promsg[{$vo.sort}]"/>
                        <input type="hidden" value="{$vo.proid}" name="proid[{$vo.sort}]"/>
                        <input type="hidden" id="goodprice{:($k-1)}" class="hiddentotal{$vo.sort}" value="{:($vo[price]*$vo[num])}">
                    </li>
                </volist>
            </ul>
        </div>
    </form>
    <!--有商品购物车 E--> 
    <!--底部 S-->
    <div class="flow_footer">
        <input type="checkbox" class="chk_all flow_checkbox" id="all" style="vertical-align:middle" checked="checked" />
        <div class="flow_footer_cz">
            <div class="spjg">
                <h3>￥<span class="color2 cart_price">{$price}</span></h3>
                <p>商品总额</p>
            </div>
            <a href="javascript:;" onclick="orderconfirm();
                    return false" class="jiesuan">去结算(<span class='cart_count'>{$count}</span>)</a> </div>
        <div class="flow_footer_bk"> <a href="javascript:betachcollect();" class="Collection_a">移至收藏</a> <a href="javascript:batchDelete();" class="Delete_a">删除</a> </div>
    </div>
    <!--底部 E-->
</block>
<block name='script'>
    <script>
        $(function() {

            // 增加数量
            $(".num_jia").click(function() {
                var numArea = $(this).siblings(".num_val");
                var numVal = numArea.val();
                var numberva = /^\d+$/;
                if (!numberva.test(numVal)) {
                    numVal = 1;
                }
                numVal++;
                numArea.val(numVal);
                var obj = $(this);
                var string = $(obj).attr("rel");
                $.ajax({
                    type: 'post', //传送的方式,get/post
                    url: '{:U("Cart/incNum")}', //发送数据的地址
                    data: {sort: string},
                    dataType: "json",
                    success: function(data) {
                        $("em.cart_sum").text(data.goodsNum);
                        $("#total" + string).text(data.goodsitemTotal);
                        regoodsprice();
                    },
                    error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                        alert(XMLHttpRequest + thrownError);
                    }
                });
            });
            //减少数据
            $(".num_jian").click(function() {
                var numArea = $(this).siblings(".num_val");
                var numVal = numArea.val();
                var numberva = /^\d+$/;
                if (!numberva.test(numVal)) {
                    numVal = 1;
                }
                if (numVal <= 1) {
                    return;
                }
                numVal--;
                numArea.val(numVal);
                var obj = $(this);
                var string = $(obj).attr("rel");
                $.ajax({
                    type: 'post', //传送的方式,get/post
                    url: '{:U("Cart/decNum")}', //发送数据的地址
                    data: {sort: string},
                    dataType: "json",
                    success: function(data) {
                        $("em.cart_sum").text(data.goodsNum);
                        $("#total" + string).text(data.goodsitemTotal);
                        regoodsprice();
                    },
                    error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                        alert(XMLHttpRequest + thrownError);
                    }
                });
            });
            //点击删除购物车中商品
            $(".delcart").click(function() {
                var obj = $(this);
                var string = $(obj).attr("rel");
                layer.confirm('确定要批量删除购物车的商品吗？', {icon: 3, title: '提示'}, function(index) {
                    if (index) {
                        $.ajax({
                            type: 'post', //传送的方式,get/post
                            url: '{:U("Cart/delItem")}', //发送数据的地址
                            data: {sort: string},
                            dataType: "json",
                            success: function(data) {
                                $(obj).parents("tr").slideUp().remove();
                                //$("span.cart_count").text(data.count);
                                //$(".cart_price").text(data.price);
                                regoodsprice();
                                $("span.cart_sum").text(data.goodsNum);
                                $("#total" + string).text(data.goodsTotal);
                                var a = data.goodsNum;
                                if (a == "0") {
                                    $("#cartform").remove();
                                }
                            },
                            error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                                alert(XMLHttpRequest + thrownError);
                            }
                        });
                        return false;
                    } else {
                        return false;
                    }
                });
            });
            //chk_all 全选
            $(".chk_all").click(function() {
                $(".chk").prop("checked", this.checked);
                regoodsprice();
            });
            $(".chk").click(function() {
                regoodsprice();
            });
        });
        // 批量删除
        function batchDelete() {
            if ($('input.chk:checked').length > 0) {
                layer.confirm('确定要批量删除购物车的商品吗？', {icon: 3, title: '提示'}, function(index) {
                    if (index) {
                        var sortArr = [];
                        var objo = $('input.chk:checked');
                        for (var i = 0; i < objo.length; i++) {
                            sortArr.push(objo[i].value);
                        }
                        var sorts = sortArr.join(',');
                        $.ajax({
                            type: 'post', //传送的方式,get/post
                            url: '{:U("Cart/delItem")}', //发送数据的地址
                            data: {sort: sorts},
                            dataType: "json",
                            success: function(data) {
                                $.each(sortArr, function(i, item) {
                                    $("a[rel=" + item + "]").parents("tr").slideUp().remove();
                                });
                                $("em.cart_sum").text(data.goodsNum);
                                regoodsprice();
                                var a = data.goodsNum;
                                /* if (a == "0") {
                                    window.location.reload();
                                } */
                                window.location.reload();
                            },
                            error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                                layer.msg(XMLHttpRequest + thrownError);
                            }
                        });
                    } else {
                        return false;
                    }
                });
            } else {
                layer.msg("请勾选商品");
            }
        }

        // 批量收藏
        function betachcollect() {
            if ($('input.chk:checked').length > 0) {
                layer.confirm('确定要把购物车的商品移到收藏吗？', {icon: 3, title: '提示'}, function(index) {
                    if (index) {
                        var sortArr = [];
                        var objo = $('input.chk:checked');
                        for (var i = 0; i < objo.length; i++) {
                            sortArr.push(objo[i].value);
                        }
                        var sorts = sortArr.join(',');
                        $.ajax({
                            type: 'post', //传送的方式,get/post
                            url: '{:U("Favortable/betachcollect")}', //发送数据的地址
                            data: {sort: sorts},
                            dataType: "json",
                            success: function(data) {
                                $.each(sortArr, function(i, item) {
                                    $("a[rel=" + item + "]").parents("tr").slideUp().remove();
                                });
                                $("em.cart_sum").text(data.goodsNum);
                                regoodsprice();
                                /* var a = data.goodsNum;
                                if (a == "0") {
                                    window.location.reload();
                                } */
                                window.location.reload();
                            },
                            error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                                layer.msg(XMLHttpRequest + thrownError);
                            }
                        });
                    } else {
                        return false;
                    }
                });
            } else {
                layer.msg("请勾选商品");
            }
        }


        // 提交订单
        function orderconfirm() {
            if ($('input.chk:checked').length > 0) {
                $("#cartform").submit();
            } else {
                layer.msg("请选择结算的商品");
            }
            return false;
        }

        function regoodsprice() {
            var option = $(".chk");
            var productsum = 0;
            var productsumprice = 0, pd = 0;
            var checkall = true;
            option.each(function(i) {
                if (!$(this).prop("checked")) {
                    checkall = false;
                }
                if ($(this).prop("checked")) {
                    productsum = productsum + 1;
                    var t = $(this).parents("li").find("span.sorttotal").text();
                    pd = parseFloat(t);
                    productsumprice = parseFloat(productsumprice + pd);
                }
            });
            $(".chk_all").prop("checked", checkall);
            var sump = productsumprice.toFixed(2);
            $(".cart_price").text(sump);
            $("span.cart_count").text(productsum);
        }

    </script>
    <script>
        $(function() {

            // 产品列表排列方式
            //点击页面筛选
            $(".flow_sp_nr .spsx span").click(function() {

                $(".flow_tcsx").finish().show();
                $(".flow_tcsx .tcsx_nr").finish().css("bottom", '-6rem').eq(0).animate({bottom: '0px', });
            });
            //一级筛选也没点击去掉和确定
            $(".close,.flow_tcsx .tcsx_btn").click(function() {
                $(".flow_tcsx .tcsx_nr").finish().animate({bottom: '-6rem'}, function() {
                    $(".flow_tcsx").finish().hide();
                });
            });
            //编辑
            $(document).ready(function() {
                $(".flow_bj").click(function() {
                    if ($(this).html() == "编辑") {
                        $(this).html('完成');
                        $(".flow_footer_bk").finish().show();
                        $(".flow_footer_cz").finish().hide();
                    } else {
                        $(this).html('编辑');
                        $(".flow_footer_cz").finish().show();
                        $(".flow_footer_bk").finish().hide();
                    }


                });
            });
        });
    </script>
</block>