<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>欢迎您登录</title>
        <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
       	<link rel="stylesheet" type="text/css" href="__CSS__/{$Think.config.COLOR_STYLE}.css" media="all">
    </head>
    <body id="login-page">
        <div id="main-content"> 
            <!-- 主体 -->
			
            <div class="login-body">
			    <div class="logo-yimei" style="background:none;height:42px;">
                                <h1 style="color: #fff;font-size: 30px; font-weight: bold;display:block;margin:0px;">妙品生活后台管理系统</h1>
				</div>
                <div class="login-main pr">
		    
		    <form action="{:U('login')}" method="post" onsubmit="ajaxlogin();return false;">
			<div class="login-form">
			    <h3 class="welcome"><i class=""></i>后台管理平台</h3> 
			    <div id="itemBox" class="item-box">
				<div class="item">
				    <i class="icon-login-user"></i>
				    <input  type="text" id="username" name="username" placeholder="请填写用户名" autocomplete="off" />
				</div>
				<span class="placeholder_copy placeholder_un">请填写用户名</span>
				<div class="item b0">
				    <i class="icon-login-pwd"></i>
				    <input type="password" id="password" name="password" placeholder="请填写密码" autocomplete="off" />
				</div>
				<span class="placeholder_copy placeholder_pwd">请填写密码</span>
				<div class="item verifycode">
				    <i class="icon-login-verifycode"></i>
				    <input type="text" id="verify" name="verify" placeholder="请填写验证码" autocomplete="off">
				    <a class="reloadverify" title="换一张" href="javascript:void(0)">换一张？</a>
				</div>
				<span class="placeholder_copy placeholder_check">请填写验证码</span>
				<div>
				    <img class="verifyimg reloadverify" alt="点击切换" src="{:U('Public/verify')}">
				</div>
			    </div>
			</div> 
			<div class="login_btn_panel">
			    <button class="login-btn" type="submit"  >登录</button>
			    <div class="check-tips"></div>
			</div>
		    </form> 
                </div>
            </div>
        </div>
	<!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script type="text/javascript">
    	/* 登录表单获取焦点变色 */
    	$(".login-form").on("focus", "input", function(){
            $(this).closest('.item').addClass('focus');
        }).on("blur","input",function(){
            $(this).closest('.item').removeClass('focus');
        });
	function ajaxlogin( ) {
	    var u = $('#username').val();
	    var p = $('#password').val();
	    var verify = $('#verify').val();
	    $.ajax({
		type:'post', //传送的方式,get/post
		url:'{:U("login")}', //发送数据的地址
		data:{
		    username:u,password:p,verify:verify
		},
		dataType: "json",
		success:function(data)
		{
		    if(data.status==1){
			    window.location.href = '{:U("Index/index")}';
		    } else {
			    $(".check-tips").text(data.info);
			    //刷新验证码
			    $(".reloadverify").click();
		    }
		},
		error:function (XMLHttpRequest, ajaxOptions, thrownError) { 
		    alert(XMLHttpRequest+thrownError);
		}
	    }); 
	}
    	//表单提交
    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").text('登录中...').attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").text('登录').attr("disabled", false);
	    	});
	 
		$(function(){
			//初始化选中用户名输入框
			$("#itemBox").find("input[name=username]").focus();
			//刷新验证码
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });

            //placeholder兼容性
                //如果支持 
            function isPlaceholer(){
                var input = document.createElement('input');
                return "placeholder" in input;
            }
                //如果不支持
            if(!isPlaceholer()){
                $(".placeholder_copy").css({
                    display:'block'
                })
                $("#itemBox input").keydown(function(){
                    $(this).parents(".item").next(".placeholder_copy").css({
                        display:'none'
                    })                    
                })
                $("#itemBox input").blur(function(){
                    if($(this).val()==""){
                        $(this).parents(".item").next(".placeholder_copy").css({
                            display:'block'
                        })                      
                    }
                })
                
                
            }
		});
		
		$('#myButton').on('click', function () {
       var $btn = $(this).button('loading')
       // business logic...
       $btn.button('reset')
        })
		
    </script>
</body>
</html>