<!DOCTYPE HTML>
<html>
<head>
<include file="Public/head_index"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header_index"/>
<!-- /头部 -->
<!-- 主体 -->
<include file="Public/body"/>
<!-- /主体 -->
<!-- 底部 -->
<include file="Public/footer_index"/>
<include file="Public/var"/>
<!-- /底部 -->
<block name="bottom"></block>
    <script src="__JS__/jquery-1.11.2.min.js"></script>
    <script src="__JS__/ajaxpage.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>
    <script src="__JS__/mrk.js" type="text/javascript" charset="utf-8"></script>
<block name="script"></block>

</body>
</html>


