<extend name="Base/common_index"/>
<!-- 头部 -->
<block name="body">
    <style>
        .all-naiv{ display: none;}
    </style>
    <!-- 内容 -->
    <!-- 位置 -->
    <!-- 位置 -->
    <div class="towp re-find">
        <h3>找回密码</h3>
        <form action="{:U('member/resetpassword')}" method="post" class="validate" onsubmit="validateCallback(this, dialogAjaxDone);
                return false;">
            <div class="phone">
                <div class="step bor step2"></div>
                <dl><dt><em>*</em>新的密码：</dt><dd><input type="password" name="password" id="password" class="txt3" placeholder="请输入密码" /></dd></dl>
                <dl><dt><em>*</em>确认密码：</dt><dd><input type="password" name="repassword" id="repassword" class="txt3 txt-short" placeholder="请输入确认密码" /></dd></dl>
                <dl><dt>&nbsp;</dt><dd><input type="submit" class="a-btn" value="提交"/></dd></dl>
            </div>
        </form>
    </div>
    <!-- 内容  END-->
</block>
<block name="script"> 
    <script src="__JS__/jquery.validate.js" type="text/javascript"></script>
    <script type="text/javascript">
            $(function() {
                if ($('form.validate').length) {
                    $('form.validate').validate({
                        rules: {
                            password: {
                                required: true,
                                rangelength: [6, 18]
                            },
                            repassword: {
                                required: true,
                                rangelength: [6, 18]
                            }
                        },
                        messages: {
                            password: {
                                required: '请输入新密码',
                                rangelength: "密码介于{0}和{1}之间的字符串"
                            },
                            repassword: {
                                required: '请输入确认密码',
                                rangelength: "密码介于{0}和{1}之间的字符串",
                                equalTo: '#password'
                            }
                        }
                    });
                }
            });
    </script>
</block> 