<extend name="Base/member_common"/>
<block name="body">
    <!-- 内容 -->
<div class="wrap" style="background-color: #fafafa;">
	<div class="guidance towp"><a href="javascript:;">首页</a><a href="javascript:;"> > 会员首页</a><a href="javascript:;"> > 评价管理</a></div>
	<div class="content_collection towp clear">
		<div class="content_left">
			<include file="Member/member_menu"/>
		</div>
		<div class="content_right">
			<h2>我的收藏</h2>
			<div class="my_box clear">
				<ul class="my clear">
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_1.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_2.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_3.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_4.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_4.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_3.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_2.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
				<li>
					<a class="det" href="javascript:;"></a>
					<a href="javascript:;"><img src="__IMG__/myCollection/up_1.jpg"/></a>
					<p>浓汤味薯片（约1.1-1.3kg）</p>
					<p><em>￥<i>19</i>.80</em><em>￥29.80</em></p>
					<div class="operation clear"><a href="javascript:;"></a><a href="javascript:;"></a></div>
				</li>
			</ul>		
			<div class="page_box clear">
				<span>共4页</span>
				<a href="javascript:;"><</a>
				<ul class="page">
					<li class="active">1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
				<a href="javascript:;">></a>
			</div>
			</div>
		</div>
	</div>
</div>
</block>