<extend name="Public/base"/>
<block name="sidebar22">
    <include file="sidemenu" />
</block>
<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>
			{$info['id']?'编辑':'新增'}频道 
		</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal"> 
		<div class="form-item">
			<label class="item-label">频道名称</label>
			<div class="controls">
				<input type="text" class="text input-large" name="name" value="{$info.name|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">频道链接<span class="check-tips">（用于调转的URL，支持带http://的URL或U函数参数格式）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="url" value="{$info.url|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">绑定分组<span class="check-tips">（分组模式对应名称）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="bindgroup" value="{$info.bindgroup|default=''}">
			</div>
		</div>
    <div class="form-item">
      <label class="item-label">
        分类标识<span class="check-tips">（英文字母）</span>
      </label>
      <div class="controls">
        <input type="text" name="mark" class="text input-large" value="{$info.mark|default=''}">
      </div>
    </div>
		<div class="controls">
			<label class="item-label">频道图标</label>
			<input type="file" id="upload_picture">
			<input type="hidden" name="icon" id="icon" value="{$info['icon']|default=''}"/>
			<div class="upload-img-box">
			<notempty name="info['icon']">
				<div class="upload-pre-item"><img src="__PICURL__{$info.id}/{$info.icon|get_cover='path'}"/></div>
			</notempty>
			</div>
		</div>
		<script type="text/javascript">
				//上传图片
			    /* 初始化上传插件 */
      var domainid= '{$info.id}';
			$("#upload_picture").uploadify({
				"height"          : 30,
				"swf"             : "__STATIC__/uploadify/uploadify.swf",
				"fileObjName"     : "download",
				"buttonText"      : "上传图片",
				"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				"width"           : 120,
				'removeTimeout'	  : 1,
				'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				"onUploadSuccess" : uploadPicture,
        'formData'        : {'domainid' :domainid,'fields':'cover_id','pagefrom':'channel'},
				'onFallback' : function() {
				    alert('未检测到兼容版本的Flash.');
				}
			    });
			function uploadPicture(file, data){
				var data = $.parseJSON(data);
				var src = '';
				if(data.status){
					$("#icon").val(data.id);
					//src = data.url || '__ROOT__' + data.path;
          src = data.url || '__PICURL__{$info.id}/'+ data.path;
					$("#icon").parent().find('.upload-img-box').html(
						'<div class="upload-pre-item"><img src="' + src + '"/></div>'
					);
				} else {
					updateAlert(data.info);
					setTimeout(function(){
					$('#top-alert').find('button').click();
					$(that).removeClass('disabled').prop('disabled',false);
				    },1500);
				}
			    }
		</script>
		
		<div class="form-item">
			<label class="item-label">网页标题</label>
			<div class="controls">
				<input type="text" name="meta_title" class="text input-large" value="{$info.meta_title|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">网页关键字</label>
			<div class="controls">
				<label class="textarea input-large">
					<textarea name="keywords">{$info.keywords|default=''}</textarea>
				</label>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">网页描述</label>
			<div class="controls">
				<label class="textarea input-large">
					<textarea name="description">{$info.description|default=''}</textarea>
				</label>
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">排序</label>
			<div class="controls">
				<input type="text" name="weight" class="text input-large" value="{$info.weight|default='0'}">
			</div>
		</div>

		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
