<extend name="Base/common_index"/>
<block name="body">
    <!--头部 S-->
    <div class="herder">
        <a href="javascript:history.go(-1);" class="back"><i></i></a>
        <h3> <notempty name="memberInfo.mobile">更换<else />绑定</notempty>手机</h3>
        <!-- <div class="herd_r"><a href="search.html" class="search"><i></i></a></div>-->
    </div>
    <div class="t_line"></div>
    <!--头部 E--> 
    <form action="{:U('Safety/bind_mobile')}" method="get" class="mobile_auth"  onsubmit="validateCallback(this, dialogAjaxDone);
            return false;">
        <!--绑定手机 S--> 
        <notempty name="memberInfo.mobile">
        <div class="safe_item safe_item2">
            <p>现绑定手机：<i>{$memberInfo.mobile}</i></p>
        </div>
        <div class="safe_item">
            <span>短信验证码</span>
            <input type="text" name='code' id='code' class="txt3" placeholder="请输入验证码" />
            <input type="button" class="c_btn fr"  onclick="getcode2(this)" value="获取短信验证" />
        </div>
        </notempty>
        
        <!--        <div class="chagePw1 chagePw2">
                    <a class="long_btn " href="bangdin.html" >下一步</a>
                </div>-->
        <!--绑定手机 E-->  
        <!--绑定手机 S--> 
        <div class="safe_item">
            <span>绑定手机</span>
            <input type="text" name='mobile' id='mobile'  class="txt" placeholder="请输入手机号" />
        </div>
        <div class="safe_item">
            <span>短信验证码</span>
            <input type="text"  class="txt3" name='new_code' id='new_code'  placeholder="请输入验证码" />
            <input type="button" class="c_btn fr"  onclick="getcode(this)" value="获取短信验证" />
        </div>
        <div class="chagePw1 chagePw2">
            <input type="hidden" value="{$memberInfo.mobile}" name='old_mobile' class="a-btn" />
            <input type="submit" class="long_btn " value="确定" />
        </div>
        <!--绑定手机 E-->  
    </form>
    <!--底部 S-->
    <div class="b_line"></div>
    <!--底部 E-->
</block>
<block name="script">
    <script src="__JS__/jquery.validate.js" type="text/javascript"></script>
    <script>
                $(function() {
                    if ($('form.mobile_auth').length) {
                        var mobyzurl = "{:U('Member/checkMobile')}";
                        $('form.mobile_auth').validate({
                            rules: {
                                mobile: {
                                    required: true,
                                    remote: {
                                        url: mobyzurl,
                                        type: "post",
                                        dataType: "json",
                                        data: {
                                            mobile: function() {
                                                return $("#mobile").val();
                                            },
                                            typemobile: 0  //  0注册，1找回密码
                                        }
                                    },
                                    ismobile: true
                                },
                                code: {
                                    required: true
                                },
                                new_code: {
                                    required: true
                                }
                            },
                            messages: {
                                mobile: {
                                    required: '<i class=""> ! </i>请输入手机号',
                                    remote: '<i class=""> ! </i>该手机号已注册'
                                },
                                code: {
                                    required: '<i class=""> ! </i>请输入验证码'
                                },
                                new_code: {
                                    required: '<i class=""> ! </i>请输入验证码'
                                }
                            },
                            errorPlacement: function(error, element) {
                                error.appendTo(element.parents("dl").find("dd.error"));
                            }
                        });
                        jQuery.validator.addMethod('ismobile', function(value, element) {
                            var length = value.length;
                            var mobile = /^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0-9]|170|177)\d{8}$/;
                            return this.optional(element) || (length == 11 && mobile.test(value));
                        }, '请正确填写手机号码');
                    }
                });

                function getcode(o) {
                    var obj = $(o).parents("form").find("#mobile");
                    var m = $(obj).val();
                    if (m == "" || $(obj).hasClass("error") > 0) {
                        layer.msg('输入新手机号');
                        return false;
                    }
                    wait = 60;
                    var h = $.ajax({
                        url: "{:U('Safety/getMobileCode')}",
                        type: "post",
                        dataType: "json",
                        data: {mobile: m},
                        success: function(json) {
                            if (json.status) {
                                djstime(o);
                                layer.msg(json.info);
                            }
                            return false;
                        }
                    });
                    return false;
                }
                function getcode2(o) {
                    var m = "{$memberInfo.mobile}";
                    wait = 60;
                    var h = $.ajax({
                        url: "{:U('Safety/getMobileCode')}",
                        type: "post",
                        dataType: "json",
                        data: {mobile: m, type: 4}, // 旧手机验证码
                        success: function(json) {
                            if (json.status) {
                                djstime(o);
                                layer.msg(json.info);
                            }
                            return false;
                        }
                    });
                    return false;
                }
                function djstime(o) {
                    if (wait == 0) {
                        o.removeAttribute("disabled");
                        o.value = "免费获取激活码";
                        wait = 60;
                    } else {
                        o.setAttribute("disabled", true);
                        o.value = "重新发送(" + wait + ")";
                        wait--;
                        setTimeout(function() {
                            djstime(o)
                        }, 1000);
                    }
                }
    </script>
</block>