<extend name="Base/common_index"/>
<block name="body">
    <!--头部 S-->
    <div class="herder">
        <a href="javascript:history.go(-1);" class="back"><i></i></a>
        <h3>安全中心</h3>
        <!-- <div class="herd_r"><a href="search.html" class="search"><i></i></a></div>-->
    </div>
    <div class="t_line"></div>
    <!--头部 E--> 
    <!--安全中心 S--> 
    <div class="safe_item">
        <a href="{:U('Safety/bind_mobile')}" >
            <span>绑定手机</span>
            <span class="fr color2">{$userinfo.mobile}</span>
            <i class="Get"></i>
        </a>
    </div>
    <div class="safe_item">
        <a href="{:U('Safety/setpassword')}" >
            <span>密码修改</span>
            <i class="Get"></i>
        </a>
    </div>
    <!--安全中心 E-->  

</block>
