<!--<header style="background-color: #fff;">
        <div class="head clear towp">
                <a class="logos" href="jacascript:;"></a>
                <a class="logins" href="javascript:;;">登录</a>
        </div>
</header>-->
    <header>
        <!-- 顶部 -->
        <div class="top">
            <include file="Public/public_top"/>
        </div>
        <!-- 搜索 -->
<!--        <div class="search-box search-box2" style="background: none;">
           <div class="towp">
                LOGO 
               <div class="logo fl"><a href="{:U('index/index')}"><img src="__IMG__/logo.png"/></a></div>
           </div>-->
        </div>
    </header>