<ul class="clear">
    <li <eq name='ACTION_NAME' value='index' >class="active"</eq> ><a  href="{:U('Agent/index')}#agentpostion">代理管理</a></li>
    <li <eq name='ACTION_NAME' value='orderlist' >class="active"</eq> ><a  href="{:U('Agent/orderlist')}#agentpostion">订单信息</a></li>
    <li <eq name='ACTION_NAME' value='goodsmanage' >class="active"</eq> ><a href="{:U('Agent/goodsmanage')}#agentpostion">商品信息</a></li>
    <li <eq name='ACTION_NAME' value='membermanage' >class="active"</eq> ><a href="{:U('Agent/membermanage')}#agentpostion">会员数据</a></li>
    <li <eq name='ACTION_NAME' value='billmanage' >class="active"</eq> ><a href="{:U('Agent/billmanage')}#agentpostion">结算信息</a></li>
</ul>