<extend name="Base/member_common"/>
<block name="body">
    <!-- 内容 -->
    <div class="wrap" style="background-color: #f5f5f5;">
        <div class="guidance towp"><a href="javascript:;">首页</a><a href="javascript:;"> > 会员首页</a></div>
        <div class="content_agency towp clear">
            <div class="content_left">
                <include file="Member/member_menu"/>
            </div>
            <div class="content_right" style="border: 0;">
                <include file="Agent/agent_center" />
                <div class="options_box">
                    <div class="tab">
                        <include file="Agent/agent_menu" />
                    </div>
                    <div class="options">
                        <div class="order">
                            <div class="search clear">
                                <input class="ss" type="button" name="" id=""/>
                                <input class="hy" type="text" name="" id="" placeholder="订单编号/会员" />
                                <div class="bl">
                                    <label for="">状态：</label>
                                    <select name="">
                                        <option value=""></option>
                                        <option value="">fjie</option>
                                        <option value="">dfd</option>
                                        <option value="">dfd</option>
                                        <option value="">grg</option>
                                    </select>
                                </div>
                                <div class="date">
                                    <label for="">日期：</label>
                                    <input type="text" name="" id="" value="" />
                                    <span>-</span>
                                    <input type="text" name="" id="" value="" />
                                </div>
                            </div>
                            <div class="data clear">
                                <div class="data_left" >
                                    <div class="quantity">

                                    </div>
                                </div>
                                <div class="data_right">
                                    <p>待处理订单：</p>
                                    <p><em>66</em></p>
                                </div>
                            </div>
                            <div class="xx">
                                <div class="tab_box">
                                    <ul class="clear">
                                        <li class="active">全部</li>
                                        <li><a href="{:U('Agent/order_step1')}">补录订单</a></li>
                                        <li>待处理<i>（6）</i></li>
                                    </ul>
                                </div>
                                <table>
                                    <tr><th><input type="checkbox" name="" id="" value="" /><span>全选</span></th><th>订单编号</th><th>时间</th><th>会员</th><th>商品数量</th><th>订单金额（元）</th><th>运费（元）</th><th>配送方式</th><th>订单状态</th><th>操作</th></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">已确认</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">发货</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">发货</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">编辑</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">编辑</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">已确认</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">编辑</a></td></tr>
                                    <tr><td><input type="checkbox" name="" id="" value="" /></td><td>L-0102548</td><td>2016-02-26  12:59:38</td><td>少司命</td><td>29</td><td>400.00</td><td>10.00</td><td>送货上门</td><td>已完成</td><td><a href="javascript:;">查看</a><a href="javascript:;">发货</a></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
