<extend name="Base/store_common"/>
<block name="body">
    <div class="wrap" style="background-color: #f5f5f5;">
        <div class="guidance towp"><a href="javascript:;">首页</a><a href="javascript:;"> > 会员首页</a></div>
        <div class="content_mc towp clear">
            <div class="content_left">
                <include file="Member/member_menu"/>
            </div>
            <div class="content right-con2 order-mana">
                <div class="con-tit"><h2 class="">售后管理</h2>
                    <div class="sear  fr">
                        <i class="bg"></i><input type="text" class="bor3" placeholder="商品编号/订单号">
                        <!--                        <div class="sear-date fr">
                                                日期：<span><input type="text" class="bor2"  /><i class="bg"></i></span><em class="big-font">_</em><span><input type="text" class="bor2"  /><i class="bg"></i></span>
                                                </div>-->
                    </div>
                </div>

                <!--导航 E-->
                <!--列表 S-->
                <div class="order-table">
                    <div class="order-tit order-tit2">
                        <span <eq name='state_type' value='all'> class="active9" </eq> ><a href="{:U('Agent/refundmanage')}">全部订单<span class="colo6">（{$ordersum}）</span></a></span>
                        <span <eq name='state_type' value='state_new'> class="active9" </eq> ><a href="{:U('Agent/refundmanage',array('state_type'=>'state_new'))}">等待处理<span class="colo6">（{$noevalnum}）</span></a></span>
                        <span <eq name='state_type' value='state_sucess'> class="active9" </eq> ><a href="{:U('Agent/refundmanage',array('state_type'=>'state_sucess'))}">已完成<span class="colo6">（{$evalnum}）</span></a></span>
                        <div class="tables">
                            <table width="100%">
                                <colgroup span="8">
                                    <col width="33%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="15%" />
                                </colgroup>
                                <tr><th>商品</th><th>价格（元）</th><th>数量</th><th>税费</th><th>运费</th><th>总价</th><th>订单状态</th><th>操作</th></tr>
                            </table>
                        </div>
                    </div>
                    <volist name='orderlist' id='order' empty='没有订单'>
                        <div class="tables_1">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <!--<input type="checkbox" name="" id="" value="" />-->
                                        <!--<span>全选</span>-->
                                        <eq name='order.refund_type' value='1'><span style="background-color: yellowgreen; color: #fff; padding: 4px">退款订单</span></eq>
                                        <eq name='order.refund_type' value='2'><span style="background-color: green; color: #fff; padding: 4px;">退货订单</span></eq>
                                        <span>订单编号：{$order.refund_sn}</span>
                                        <span>下单时间：{$order.add_time|date="Y-m-d H:i:s",###}</span>
                                        <a href="{:U('Refund/detail',array('id'=>$order['refund_id']))}">查看订单详情</a>
                                    </td>
                                </tr>
                            </table>

                            <table class="cp" width="100%">
                                <colgroup span="8">
                                    <col width="33%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="15%" />
                                </colgroup>
                                <volist name='order.goodslist' id='goods' key='k'>
                                    <if condition="$k eq 1">
                                        <tr>
                                            <td class="clear">
                                                <!--<input type="checkbox" name="" id=""/>-->
                                                <a class="im" href="{:U('Goods/detail',array('channelname'=>$goods['channelname'],'id'=>$goods['goodid'] ))}"><img src="{$goods['pics_img'][$goods['cover_id']]}"/></a>
                                                <div class="xinx">
                                                    <p><a target="_blank" href="{:U('Goods/detail',array('channelname'=>$goods['channelname'],'id'=>$goods['goodid'] ))}">{$goods.goodid|get_good_name}</a></p>
                                                    <notempty name='goods.parameters'><em>规格：{$goods.parameters|default="无"}</em></notempty>
                                                    <if condition="$order.status eq 3 and $order.refund_status eq 0 and $goods.iscomment eq 0">
                                                        <a class='sc' href="{:U('Refund/apply_refund',array('orderid'=>$order['id'],'goods_id'=>$goods['goodid']))}">申请售后</a>
                                                    </if>
                                                </div>
                                            </td>
                                            <td>￥{$goods.price}</td>
                                            <td>x{$goods.num}</td>
                                            <td>&yen;{$goods.haiguan_rate}</td>
                                            <td rowspan="{$order.productnum}">￥{$order.shipprice|default=0.00}</td>
                                            <td  rowspan="{$order.productnum}">￥{$order.refund_amount}</td>
                                            <td  rowspan="{$order.productnum}">
                                                <switch name="order.refund_state">
                                                <case value="0">0申请状态</case>
                                                <case value="1">1为处理中</case>
                                                <case value="2">2为待管理员处理</case>
                                                <case value="3">3为已完成</case>
                                                <default />申请状态
                                                </switch>
                                       </td>
                                        <td rowspan="{$order.productnum}">
                                            {$order.handle}
                                             <if condition="$order.refund_type eq 1 and $order.refund_state lt 3">
                                             <a class="confirm qx" data-msg="确定处理退款申请？" href="{:U('Agent/dealrefund',array('refund_id'=>$order['refund_id']))}">处理退款申请</a>       
                                            </if>
                                            <a class="pj" href="{:U('Refund/detail',array('id'=>$order['refund_id']))}">查看订单详情</a>
                                        <notempty name='order.tool'><a class="qx" href="javascript:;">（{$order.tool}）</a></notempty>
                                        </td>
                                        </tr>
                                        <else />
                                        <tr>
                                            <td class="clear">
                                                <!--<input type="checkbox" name="" id=""/>-->
                                                <a class="im" href="jacascript:;"><img src="{$goods['pics_img'][$goods['cover_id']]}"/></a>
                                                <div class="xinx">
                                                    <p><a href="javascript:;">{$goods.goodid|get_good_name}</a></p>
                                                    <notempty name='goods.parameters'><em>规格：{$goods.parameters|default="无"}</em></notempty>
                                                    <if condition="$order.status eq 3 and $order.refund_status eq 0 and $goods.iscomment eq 0">
                                                        <a class='sc' href="{:U('Refund/apply_refund',array('orderid'=>$order['id'],'goods_id'=>$goods['goodid']))}">申请售后</a>
                                                    </if>
                                                </div>
                                            </td>
                                            <td>{$goods.price}</td>
                                            <td>x{$goods.num}</td>
                                            <td>0.00</td>
                                        </tr>
                                    </if>
                                </volist>
                            </table>
                        </div>
                    </volist>
                    <div class="page_box clear clear">
                        {$_page}
                    </div>
                </div> <!--列表 E-->
            </div>
        </div>
</block>

<block name='script'>
    <script>

        $(function() {
            $("a.confirm").click(function() {
                var msg = $(this).attr("data-msg");
                var href = $(this).attr('href');
                layer.confirm(msg, {icon: 3, title: '提示信息'}, function(index) {
                    if (index) {
                        layer.close(index);
                        window.location.href = href;
                        return true;
                    } else {
                        return false;
                    }
                });
                return false;
            });
        });

    </script>
</block>