<extend name="Base/common_index"/>
<block name='body'>

    <div class="warp_1">
        <div class="c_page1">
            <!--头部 S-->
            <div class="herder">
                <a href="javascript:history.go(-1);" class="back"><i></i></a>
                <h3>商品结算</h3>
            </div>
            <div class="t_line"></div>
            <!--头部 E-->
            <!--地址信息 S--> 
            <div class="address">
                <div class="flow_Address_line"></div>
                <a href="javascript:;">
                    <ul class="clear">
                        <li>张某某</li>
                        <li>132****8989</li>
                        <li>50010****9889</li>
                    </ul>
                    <p><i>默认</i>重庆市渝北区回兴街道宝石路14号</p>       
                </a>
                <div class="flow_Address_line"></div>
            </div>
            <!--地址信息 E-->
            <!--商品信息 S-->
            <div class="commodity">
                <ul>
                    <li>
                        <a href="product.html">
                            <dt class="img">
                            <img src="images/up_1.png">
                            </dt>
                            <dd>
                                <h3>韩国正品专柜 爱丽小屋气垫BB霜适合偏白肤色人群使用 清透底妆</h3>
                                <div class="saixuan_sx">
                                    <div class="jiage">
                                        ￥168.00
                                        <span class="taxes">税费<i>￥30.00</i></span>
                                    </div>
                                    已选 165L,黑色<em>X1</em>
                                </div>
                            </dd>
                        </a>
                    </li>
                    <li>
                        <a href="product.html">
                            <dt class="img">
                            <img src="images/up_1.png">
                            </dt>
                            <dd>
                                <h3>韩国正品专柜 爱丽小屋气垫BB霜适合偏白肤色人群使用 清透底妆</h3>
                                <div class="saixuan_sx">
                                    <div class="jiage">
                                        ￥168.00
                                        <span class="taxes">税费<i>￥30.00</i></span>
                                    </div>
                                    已选 165L,黑色<em>X1</em>
                                </div>
                            </dd>
                        </a>
                    </li>
                </ul>	
            </div>
            <!--商品信息 E-->

            <!--配送方式 S-->
            <div class="psxx">
                <dl><dt>配送方式</dt>
                    <dd>
                        <i class="Get"></i>
                        <select name="" class="peisong" style="background:none ;"> 
                            <option>送货上门  运费￥20.00</option>
                            <option>门店自取  免运费</option>
                        </select>
                    </dd>
                </dl>
            </div>
            <!--配送方式 E-->
            <!--买家留言 S-->
            <div class="psxx">
                <dl><dt>买家留言</dt><dd><input name="" type="text" placeholder="选填，给商家留言(45字以内)" class="text"></dd></dl>
            </div>
            <!--买家留言 E-->
            <!--优惠信息 S-->
            <div class="psxx">
                <dl><dt>优惠劵</dt><dd><em class="yhj_ts">7张可用</em><input name="" type="checkbox" class="Radio_yhj" value="" ></dd></dl>
                <dl class="yhjsyye">
                    <h4><span>提示：</span>每个订单可使用一张优惠券，优惠券不可抵扣运费，所抵扣金额不再开具发票 商家订单商品暂不能使用优惠劵</h4>
                    <div class="yhj_nav">
                        <ul>
                            <li><input name="1" type="radio" class="flow_checkbox" value="">测试礼券 <span>5.00</span>元 (有效期2015-12-11) <p>在购买51元商品即可使用此劵</p></li>
                            <li><input name="1" type="radio" class="flow_checkbox" value="">测试礼券 <span>5.00</span>元 (有效期2015-12-11) <p>在购买51元商品即可使用此劵</p></li>
                            <li><input name="1" type="radio" class="flow_checkbox" value="">测试礼券 <span>5.00</span>元 (有效期2015-12-11) <p>在购买51元商品即可使用此劵</p></li>
                            <li><input name="1" type="radio" class="flow_checkbox" value="">测试礼券 <span>5.00</span>元 (有效期2015-12-11) <p>在购买51元商品即可使用此劵</p></li>
                            <li><input name="1" type="radio" class="flow_checkbox" value="">测试礼券 <span>5.00</span>元 (有效期2015-12-11) <p>在购买51元商品即可使用此劵</p></li>
                        </ul>
                    </div>
                    <div class="yhjdh">
                        <h4>有优惠券兑换码？立即兑换</h4>
                        <input name="" type="text" placeholder="卡号"><input name="" type="password" placeholder="密码"><input type="submit" value="添加" class="yhj_btn">
                    </div>
                </dl>
            </div>
            <!--优惠信息 E-->
            <!--商品总额 S--> 
            <div class="spdd_jg">
                <ul>
                    <li><span>￥500.00</span>商品总额</li>
                    <li><span>+ ￥12.00</span>海悦币抵现</li>
                    <li><span>+ ￥12.00</span>运费</li>

                </ul>
            </div>
            <!--商品总额 E--> 
            <!--底部 S-->
            <div class="flow_footer" style="bottom:0;">
                <div class="flow_footer_cz"> <a href="flow_Payment.html" class="jiesuan">提交订单</a> </div>
                <h3 class="flow_sfk">实付款：<span>￥326.00</span></h3>
            </div>
            <div class="b_line"></div>
            <!--底部 E--> 
        </div>


    </div>
    <!--地址管理-->
    <div class="c_page2" style="display: none;">
        <!--头部 S-->
        <div class="herder">
            <a href="javascript:;" class="back back_pre2"><i></i></a>
            <h3>地址管理</h3>
            <!-- <div class="herd_r"><a href="search.html" class="search"><i></i></a></div>-->
        </div>
        <div class="t_line"></div>
        <!--头部 E--> 
        <!--地址列表 S--> 
        <ul class="add_list">
            <li>
                <div class="info">
                    <span><i><img src="images/user-name.png" /></i>张某某</span>
                    <span><i><img src="images/phone.png" /></i>131***4568</span>
                    <span><i><img src="images/id.png" /></i>5001***0245</span>
                    <p>重庆市江北区红旗河沟丽晶大厦  1单元A栋11-15</p>
                </div>
                <div class="setD bg_fa clear">
                    <div class="fl">
                        <a class=" " href="javascript:;"><i class="check checked"></i>默认地址</a>
                    </div>
                    <div class="fr ">
                        <a href="javascript:;" class="dele">删除</a>
                        <a class="mr-0 edi" href="javascript:;" >编辑</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info">
                    <span><i><img src="images/user-name.png" /></i>张某某</span>
                    <span><i><img src="images/phone.png" /></i>131***4568</span>
                    <span><i><img src="images/id.png" /></i>5001***0245</span>
                    <p>重庆市江北区红旗河沟丽晶大厦  1单元A栋11-15</p>
                </div>
                <div class="setD bg_fa clear">
                    <div class="fl">
                        <a class=" " href="javascript:;"><i class="check "></i>默认地址</a>
                    </div>
                    <div class="fr ">
                        <a href="javascript:;" class="dele">删除</a>
                        <a class="mr-0 edi" href="javascript:;" >编辑</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info">
                    <span><i><img src="images/user-name.png" /></i>张某某</span>
                    <span><i><img src="images/phone.png" /></i>131***4568</span>
                    <span><i><img src="images/id.png" /></i>5001***0245</span>
                    <p>重庆市江北区红旗河沟丽晶大厦  1单元A栋11-15</p>
                </div>
                <div class="setD bg_fa clear">
                    <div class="fl">
                        <a class=" " href="javascript:;"><i class="check "></i>默认地址</a>
                    </div>
                    <div class="fr ">
                        <a href="javascript:;" class="dele">删除</a>
                        <a class="mr-0 edi" href="javascript:;" >编辑</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info">
                    <span><i><img src="images/user-name.png" /></i>张某某</span>
                    <span><i><img src="images/phone.png" /></i>131***4568</span>
                    <span><i><img src="images/id.png" /></i>5001***0245</span>
                    <p>重庆市江北区红旗河沟丽晶大厦  1单元A栋11-15</p>
                </div>
                <div class="setD bg_fa clear">
                    <div class="fl">
                        <a class=" " href="javascript:;"><i class="check "></i>默认地址</a>
                    </div>
                    <div class="fr ">
                        <a href="javascript:;" class="dele">删除</a>
                        <a class="mr-0 edi" href="javascript:;" >编辑</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info">
                    <span><i><img src="images/user-name.png" /></i>张某某</span>
                    <span><i><img src="images/phone.png" /></i>131***4568</span>
                    <span><i><img src="images/id.png" /></i>5001***0245</span>
                    <p>重庆市江北区红旗河沟丽晶大厦  1单元A栋11-15</p>
                </div>
                <div class="setD bg_fa clear">
                    <div class="fl">
                        <a class=" " href="javascript:;"><i class="check "></i>默认地址</a>
                    </div>
                    <div class="fr ">
                        <a href="javascript:;" class="dele">删除</a>
                        <a class="mr-0 edi" href="javascript:;" >编辑</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info">
                    <span><i><img src="images/user-name.png" /></i>张某某</span>
                    <span><i><img src="images/phone.png" /></i>131***4568</span>
                    <span><i><img src="images/id.png" /></i>5001***0245</span>
                    <p>重庆市江北区红旗河沟丽晶大厦  1单元A栋11-15</p>
                </div>
                <div class="setD bg_fa clear">
                    <div class="fl">
                        <a class=" " href="javascript:;"><i class="check "></i>默认地址</a>
                    </div>
                    <div class="fr ">
                        <a href="javascript:;" class="dele">删除</a>
                        <a class="mr-0 edi" href="javascript:;" >编辑</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info">
                    <span><i><img src="images/user-name.png" /></i>张某某</span>
                    <span><i><img src="images/phone.png" /></i>131***4568</span>
                    <span><i><img src="images/id.png" /></i>5001***0245</span>
                    <p>重庆市江北区红旗河沟丽晶大厦  1单元A栋11-15</p>
                </div>
                <div class="setD bg_fa clear">
                    <div class="fl">
                        <a class=" " href="javascript:;"><i class="check "></i>默认地址</a>
                    </div>
                    <div class="fr ">
                        <a href="javascript:;" class="dele">删除</a>
                        <a class="mr-0 edi" href="javascript:;" >编辑</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="fix_bo" style="padding-bottom:0.3rem;background:#fff;bottom: 0;">
            <a href="javascript:;" class="long_btn add_loginbtn">新增地址</a>
        </div>
        <!--地址列表 E-->  
        <!--底部 S-->
        <div class="b_line"></div>
        <!--底部 E-->
    </div>
    <!--地址管理-->
    <div class="c_page3" style="display:none">
        <!--头部 S-->
        <div class="herder">
            <a href="javascript:;" class="back back_pre3"><i></i></a>
            <h3>编辑地址</h3>
            <!-- <div class="herd_r"><a href="search.html" class="search"><i></i></a></div>-->
        </div>
        <div class="t_line"></div>
        <!--头部 E--> 
        <!--地址列表 S--> 
        <div class="edi_add">
            <div class="list">
                <span>真实姓名</span>
                <input type="text" placeholder="请输入收货人姓名" class="" />
            </div>	
            <div class="list">
                <span>联系方式</span>
                <input type="text" placeholder="请输入您的联系方式" class="" />
            </div>	
            <div class="list area">
                <span>所在地区</span>
                <select>
                    <option>请选择省</option>
                    <option>请选择省1</option>
                    <option>请选择省2</option>
                    <option>请选择省3</option>
                </select>
                <select>
                    <option>请选择省</option>
                    <option>请选择省1</option>
                    <option>请选择省2</option>
                    <option>请选择省3</option>
                </select>
                <select>
                    <option>请选择省</option>
                    <option>请选择省1</option>
                    <option>请选择省2</option>
                    <option>请选择省3</option>
                </select>
            </div>
            <div class="list">
                <span>详细地址</span>
                <input type="text" placeholder="请输入详细地址" class="" />
            </div>	
            <div class="list">
                <span>身份证号</span>
                <input type="text" placeholder="请输入收货人身份证号" class="" />
            </div>	
            <div class="setD bg_fa clear">
                <div class="fl">
                    <a class=" " href="javascript:;"><i class="check checked"></i>默认地址</a>
                </div>
            </div>
        </div>
        <div class="fix_bo" style="padding-bottom:0.3rem;background:#fff;bottom: 0;">
            <input type="button" class="long_btn btn_save" value="保存并使用" />
        </div>
        <!--地址列表 E-->  
        <!--底部 S-->
        <div class="b_line"></div>
        <!--底部 E-->
    </div>
    <div class="tdivbg" style="display:none"></div>
    <script>

        $(".Radio_yhj").click(function() {
            $(".yhjsyye").toggle();
        });
        $(function() {
            $(".address").click(function() {
                console.log("向右");
                $(".tdivbg").css({"z-index": "100"});
                $(".c_page2,.tdivbg").css({"display": "block"});
                $(".c_page2").addClass("fadeInRightBig animated");
                setTimeout(removeClass, 1000);
                //});
                function removeClass() {
                    $(".c_page2").removeClass("fadeInRightBig animated");
                    $(".c_page1,.tdivbg").css({"display": "none"});
                }
            });
            $(".edi,.add_loginbtn").click(function() {
                console.log("向右");
                $(".tdivbg").css({"z-index": "102"});
                $(".c_page3,.tdivbg").css({"display": "block"});

                $(".c_page3").addClass("fadeInRightBig animated");
                setTimeout(removeClass, 1000);
                //});
                function removeClass() {
                    $(".c_page3").removeClass("fadeInRightBig animated");
                    $(".c_page2,.tdivbg").css({"display": "none"});
                }
            });
            $(".back_pre2").click(function() {
                $(".tdivbg").css({"z-index": "100"});
                $(".c_page1,.tdivbg").css({"display": "block"});
                $(".c_page2").addClass("lrmove animated");
                setTimeout(removeClass, 1000);
                function removeClass() {
                    $(".c_page2").removeClass("lrmove animated");
                    $(".c_page2,.tdivbg").css({"display": "none"});
                }
            });
            $(".back_pre3").click(function() {
                $(".c_page2,.tdivbg").css({"display": "block"});
                $(".c_page3").addClass("lrmove animated");
                setTimeout(removeClass, 1000);
                function removeClass() {
                    $(".c_page3").removeClass("lrmove animated");
                    $(".c_page3,.tdivbg").css({"display": "none"});
                }
            });
            $(".btn_save").click(function() {
                console.log("...");
                $(".c_page2,.c_page3,.tdivbg").css({"display": "none"});
                $(".c_page1").css({"display": "block"});
            });

        })

    </script>


</block>