<extend name="Base/common_index"/>
<block name='style'>
    <style>
        .all-naiv{display:none;}
        .m-nav-fix{position: fixed;top:0;width: 100%;background-color:#F5F5F5;}
    </style>
</block>
<block name="body">
    <!-- 位置 -->
    <div class="towp  position">
        您的位置：<span><a href="#">商品分类</a></span><span class="fonS"> > </span><span class="colo1">商品详情</span>
    </div>
    <!-- 内容 -->
    <div class="towp step"></div>
    <div class="towp fillOrder" >
        <form action='{:U("Checkout/createorder")}' method="post" name="createorderform" id="createorderform" onsubmit=" return checkaddress();"> 
            <div class="add" id="myaddresslist">

            </div>

            <div class=" peis">
                <h2>配送方式 &nbsp;<notempty name="lowwest">
                        (消费满{$lowwest}元免邮)
                        <if condition="$all lt $lowwest">
                            <a class="toshopcart" target="_blank" href="{:U('Goods/lists')}">&lt;&lt; 前去凑单</a>
                        </if>
                    </notempty></h2>
                <p>客户您好：你所下单得客户为：<span class="where">XXX门店</span>，地址：<span class="ad">XXXXXXXX</span>,联系电话：<span class="tel">138XXXXXXXXXX</span> 请合理根据您自身的情况选择配送方式</p>
                <volist name="distribution" id="dvo" key='k'>
                    <div>
                        <input type="radio" id='kd{$k}' money="{$dvo.price}" class="radiodistribution" <eq name="key" value="0">checked="checked"</eq> value="{$dvo['id']}" name="distribution">
                        <label for="kd{$k}">{$dvo['title']}</label>
                        <notempty name="lowwest">
                            <if condition="$all lt $lowwest">
                                <assign name="distriprice" value="$dvo['price']" />
                                <else/>
                                <assign name="distriprice" value="0" />
                            </if>    
                            <else/>
                            <assign name="distriprice" value="$dvo['price']" />
                        </notempty>

                        <span>( <if condition='$dvo["price"]'> ￥{$dvo['price']}<else /> 免运费</if>)</span>
                        <span>{$dvo['description']}</span>
                    </div>
                </volist>
                <div><a href="javascript:alert('配送规则')">配送规则？</a></div>
            </div>
            <div class=" quRen">
                <h2>订单信息 <span class="fr back-shopcar"><a href="{:U('cart/index')}"><i class="bg"></i>返回购物车修改</a></span> </h2>
                <table width="100%" border="0" cellpadding="0" style="border-collapse:collapse;">
                    <thead>
                    <th colspan="2" style="text-align: center;padding-left: 20px;">商品名称</th>
                    <th width="140">单价</th><th width="140">数量 </th><th width="140">小计 </th>
                    </thead>
                    <tbody>
                    <volist name="shoplist" id="vo">
                        <if condition="$vo['type'] eq 0">
                            <tr>
                                <td width="80px"><img style="width:80px;height: 80px;" src="{$vo.goodid|get_cover_picture_url}" /> </td>
                                <td width="440" class="pro-intr4">
                                    <a href="{:U('Goods/detail',array('channelname'=>$vo['channelname'],'id'=>$vo['goodid']))}" target="_blank" >{$vo.goodid|get_good_name} </a>
                                <div class="attr"><span>{$vo.parameters}</span>
                                    <span style="color:red;">{$vo.promsg}</span>
                                </div>
                            </td>
                            <td>¥{$vo.price}</td> 
                            <td> {$vo.num} </td>
                            <td class="red">¥<span id="total{$vo.sort}">{$vo.total}</span></td> 
                            </tr>
                            <elseif condition="$vo['type'] eq 1"/>
                            <tr>
                                <td width="80px"><img src="{$vo.goodid|get_cover_picture_url}" /> </td>
                                <td width="440" class="pro-intr4">
                                    <a href="{:U('Goods/detail',array('channelname'=>$vo['channelname'],'id'=>$vo['goodid']))}" target="_blank" >{$vo.goodid|get_good_name}</a>
                                    <div class="attr"><span>{$vo.parameters}</span>
                                        <span style="color:red">{$vo.promsg}</span>
                                    </div>
                                </td>
                                <td>¥{$vo.price}</td> 
                                <td> {$vo.num} </td>
                                <td class="red">¥<span id="total{$vo.sort}">{$vo.total}</span></td> 
                            </tr>
                        </if>
                    </volist>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="towp mes">
        <p>给商家留言：<input type="text" name='order_message' class="txt1 txt2" /></p>
        <div class="count  fr">
            <p> {$sum}件商品，商品总金额：￥<span id="allproduct">{$total}</span> </p>
            <p>税费：￥<span id="haiguan_rate_total">{$haiguan_rate_total}</span>元     </p>
            <p>运费：<span id="pricedis">{$trans}</span>元     </p>        
            <!--<p class=""> 应付总额（不含运费）：￥<span id="allprice">{$all}</span></p>--> 
        </div>
        <div class="fff" >
            <span>应付总额：<strong id="allprice">￥{$all}</strong></span>
            <input type="hidden" name="senderid" id="senderid" >
            <input type="hidden" name="tag" value="{$tag}"> 
            <input type="submit" value="提交订单" /></div>
    </div>
</form>

</block>
<block name='script'>
    <script>
        var address_layer = '';
        //地址编辑
        function open_address(address_id) {
            $.ajax({
                url: "{:U('Checkout/ajaxaddress')}",
                type: "post",
                dataType: "json",
                data: {id: address_id},
                success: function(json) {
                    address_layer = layer.open({
                        title: '编辑地址',
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['660px', '440px'], //宽高
                        content: json.info
                    });
                    return false;
                }
            });
        }

        /**
         * 获取我的地址列表
         * @returns {undefined}
         */
        function myaddresslist() {
            $.ajax({
                url: "{:U('Checkout/ajaxaddresslist')}",
                type: "post",
                dataType: "json",
//                data: {id: address_id},
                success: function(json) {
                    if (json.status) {
                        $("#myaddresslist").html(json.info);
                        return false;
                    }
                    layer.msg('加载地址错误');
                    return false;
                }
            });
        }
        function delAddress(aid) {
            //判断新地址是否选中,获取地址id
            var con_index = layer.confirm('确定要删除该地址吗？', {icon: 3, title: '提示'}, function(index) {
                if (index) {
                    if (aid == null) {
                          alert("选择地址无效!");
                        return false;
                    } else {
                        $.ajax({
                            type: 'post', //传送的方式,get/post
                            url: '{:U("Member/deleteAddress")}', //发送数据的地址
                            data: {id: aid},
                            dataType: "json",
                            success: function(data)
                            {
                                layer.msg(data.info);
                                myaddresslist();
                            },
                            error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                                alert(XMLHttpRequest + thrownError);
                            }
                        });      
                     }
                    layer.close(con_index);
                }
            });

        }


        $(function() {
            myaddresslist();
            /*重新计算运费及总金额*/
            $(".radiodistribution").click(function() {
                var yunfei = parseFloat($(this).attr('money'));
//                yunfei =  isNaN(yunfei) ? yunfei : 0;
//                alert(yunfei);
                var yfsump = yunfei.toFixed(2);
                $('#pricedis').text(yfsump);   // 运费
                var allproduct = parseFloat($('#allproduct').text());  // 商品价格
                var haiguan_rate_total = parseFloat($('#haiguan_rate_total').text());  // 海关费
                var allprice = parseFloat(allproduct + yunfei +haiguan_rate_total);       // 订单总价
                var sump = allprice.toFixed(2);
                $('#allprice').text(sump);
            });

        });
//        选择地址
        function  chooseaddress(obj) {
            $("#senderid").val($(obj).attr("addressid"));
            $(obj).parents('li').siblings().addClass('active6').removeClass('active6')
            $(obj).parents('li').toggleClass('active6');
        }

        /*
         *检查地址是否选择 
         */
        function checkaddress() {
            //判断默认地址是否选中,获取地址id
            var addressid = $(".active6").find("a.setDef").attr('addressid');
            $("#senderid").val(addressid);
//            alert(addressid);
            if (typeof (addressid) == "undefined") {
                document.getElementById('myaddresslist').scrollIntoView();
                layer.msg("请选择一个收货地址");
                return false;
            } else {
                return true;
            }
            return false;
        }

    </script>
</block>