<extend name="Base/common_index"/>

<block name="style">
    <style>
        .m-nav-fix{position: fixed;top:0;width: 100%;background-color:#fff;}
        .swiper-pagination-bullet{
            opacity: 1.0;
            background-color: #fff;
            width: 20px;
            height: 20px;
            margin: 0 10px;
        }
        .swiper-pagination-bullet-active{
            border: 1px solid red;
        }        
        .promise2 li p{
            font-size: 14px;
        }
        .classfy2 .air-line3{
            top: -220px;
        }
        .wrap{
            padding-bottom: 30px;padding-top:35px;
        }
    </style>
</block>
<block name="body">
    <!-- 内容  s-->
    <div class="nav-top " id="j_nav" >
        <div class="towp" >
            <div class="logo">
                <a href="#"><!-- <img src="__IMG__/logo2.png" /> -->
                妙品生活 </a>
            </div>
            <ul>
                <volist name="_menus" id="nav" > 
                    <li <eq name="nav.title" value="首页" > class="active1"</eq> >
                        <a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    <!-- 轮播 -->
   <div class="flexslider pr">
            {:hook('Advs',array('mark'=>'index_A1','domainid'=>'','domaintype'=>'site','show_page'=>'pc_banner'))}
     </div>

    <!-- 保证 -->
    <div class="promise">
        <div class="towp"></div>
    </div>
    <!-- 内容 -->
    <div class="wrap">
        <!--限时抢购 S-->
        <notempty name="xianshi_goods">
            <div class="towp Limit-buy  ">
                <h3 class="buy-tit">
                    <span class="b-tit">限时抢购</span>
                    <div class="countdown">距活动结束还剩
                        <!--<span class="title">距本次结束：</span>-->
                        <span id="RemainD">{$ptime.day}</span> 天
                        <span id="RemainH">{$ptime.hour}</span> 时
                        <span id="RemainM">{$ptime.point}</span> 分
                        <span id="RemainS">{$ptime.times}</span> 秒
                    </div>
                    <script>
                        function FreshTime()
                        {
                            var endtime = new Date("{$xianshi_active.end_time|date='Y/m/d, H:i:s',###}");//结束时间
                            var nowtime = new Date();//当前时间
                            var lefttime = parseInt((endtime.getTime() - nowtime.getTime()) / 1000);
                            d = parseInt(lefttime / 3600 / 24);
                            h = parseInt((lefttime / 3600) % 24);
                            m = parseInt((lefttime / 60) % 60);
                            s = parseInt(lefttime % 60);

                            document.getElementById("RemainD").innerHTML = d;
                            document.getElementById("RemainH").innerHTML = h;
                            document.getElementById("RemainM").innerHTML = m;
                            document.getElementById("RemainS").innerHTML = s;
                            if (lefttime <= 0) {
                                document.getElementById("LeftTime").innerHTML = "团购已结束";
                                clearInterval(sh);
                            }
                            ;
                        }
                        ;
                        FreshTime();
                        var sh;
                        sh = setInterval(FreshTime, 1000);

                    </script>
                    <a href="{:U('Goods/xianshi')}" class="bg fr"></a>
                </h3>
                <!--<h3 class="buy-tit"><span class="b-tit">限时抢购</span><a href="{:U('Goods/xianshi')}" class="bg fr"></a></h3>-->
                <ul class=" limiProList">
                    <volist name="xianshi_goods" id="goods" offset="0" length='6' empty="$empty">
                        <li class="">
                            <a class="proImg" href="{:U('Goods/detail',array('active'=>'pomotion','id'=>$goods['goods_id']))}">
                                <img src="__PICURL__/{$goods.goods_image|get_cover='path'}" />
                                <strong>{$goods.goods_name}</strong>
                            </a>
                            <div class="pric"><span class="price">￥<span class="bigFont">{$goods.xianshi_price}</span></span><strike>￥{$goods.goods_org_price}</strike></div>
                            <div class="proHover">
                                <p class="remin"><span>今日</span>剩余数量{$goods.xianshi_stock}</p>
                                <div class="img"><a href="{:U('Goods/detail',array('active'=>'pomotion','id'=>$goods['goods_id']))}"><img src="__PICURL__/{$goods.goods_image|get_cover='path'}" /></a></div>
                                <eq name='goods.xianshi_stock' value='0'>
                                <p class="grab"><a class="" style="background:gray;" href="javascript:;;">抢光啦</a></p>
                                <else/>
                                <p class="grab"><a class="" href="{:U('Goods/detail',array('active'=>'pomotion','id'=>$goods['goods_id']))}">我抢</a></p>
                                </eq>
                            </div>
                        </li>
                    </volist>
                </ul>
                <div class="air-line1"></div>
            </div>
        </notempty>
        <!--限时抢购 E-->
        <!--热卖推荐 S-->
        <div class="towp hot-sale clear" style="display:none;">
            <div class="hot-sale1  fl">
                <div class=" hot1  ">
                    <h3>热卖推荐/<span>HOT SALE</span></h3>
                    <div class="swiper-container ">
                        <ul class="swiper-wrapper">
                            {:hook('Advs',array('mark'=>'hot_A1','domainid'=>'','domaintype'=>'site'))}
                        </ul>
                    </div>
                </div>
                <div class="hot2">
                    <div> {:hook('Advs',array('mark'=>'hot_A2','domainid'=>'','domaintype'=>'site'))}</div>
                </div>
                <i class="bg right-top"></i>
            </div>
            <div class="hot-sale2  fl">
                <div class="sale-wrap ">
                    <ul class="hot-sale2-1 ">
                        {:hook('Advs',array('mark'=>'hot_A3','domainid'=>'','domaintype'=>'site'))}
                    </ul>
                </div>
                <ul class="hot-sale2-2 ">
                    {:hook('Advs',array('mark'=>'hot_A4','domainid'=>'','domaintype'=>'site'))}
                </ul>
            </div>
            <div class="air-line2"></div>
        </div>
        <!--热卖推荐 E-->
        <!--新品推荐 s-->
        <notempty name="new_goods">
            <div class="new_product_box towp">
                <div class="n-tit">
                    <h3>新品推荐/<span>NEW&nbsp&nbspPRODUCTS</span></h3>
                    <a href="{:U('Goods/lists')}">更多推荐</a>
                </div>
                <ul class=" limiProList">
                    <volist name="new_goods" id="newgood">
                        <li class="">
                            <a class="proImg" href="{:U('Goods/detail',array('channelname'=>$newgood['channelname'],'id'=>$newgood['id']))}" title="{$newgood.title}">
                                <img src="{$newgood['pics_img'][$newgood['cover_id']]}" alt="{$newgood.title}"/>
                                <strong>{:getsubstrutf8($newgood['title'],0,30)}</strong>
                            </a>
                            <div class="pric"><span class="price">￥<span class="bigFont">{$newgood.show_price}</span><strike>￥{$newgood.marketprice}</strike></div>
                        </li>
                    </volist>
                </ul>
                <div class="air-line1"></div>
            </div>
        </notempty>
        <!--新品推荐 E-->


        <!-- 楼层模块 S-->
        <include file="Index/module"/>
        <!-- 楼层模块 E-->
        <div class="bot-banner towp">
            <ul class="clear">
                {:hook('Advs',array('mark'=>'index_A2','domainid'=>'','domaintype'=>'site'))}
            </ul>
        </div>
    </div>
    <!-- 内容 e -->

</block>
<block name="script">
    <script type="text/javascript" src="__JS__/jquery.flexslider-min.js"></script>
    <script>
          $(function(){
                   $('.flexslider').flexslider({
                            directionNav: true,
                            pauseOnAction: false
                    }); 
                });
//        var mySwiper = new Swiper('.banner_box .swiper-container', {
//            autoplay: 5000, //可选选项，自动滑动
//            pagination: '.banner_box .pagination',
//            paginationClickable: true,
//            loop: true,
//        });
                        $(function() {
                            $('.xlph-list li').mouseenter(function() {
                                cname = $(this).attr("class");
                                if (cname != "active") {
                                    $(this).toggleClass("active").siblings().removeClass('active')
                                }
                            });
                            $(".all-naiv").removeClass('all-naiv2')
                        });
                        $(function() {
                            var nav = $('#j_nav');
                            var bnav = $('.nav');
                            var navTop = bnav.offset().top;
                            $(window).scroll(function(e) {
                                if ($(this).scrollTop() >= navTop) {
                                    nav.css('display', 'block');
                                    nav.addClass('m-nav-fix');
                                } else {
                                    nav.css('display', 'none');
                                    nav.removeClass('m-nav-fix');
                                }
                            });
                        })
    </script>
</block>