<header style="margin-bottom: 40px;">
    <!-- 顶部 -->
    <div class="top">
        <include file="Public/public_top"/>
    </div>
    <!-- 搜索 -->
    <div class="search-box search-box2 my" style="background: none;">
        <div class="towp clear">
            <!-- LOGO -->
            <div class="logo fl">
                 <php>$logo = C('SITE_LOGO')</php>
                <a href="{:U('Index/index')}"><img src="__PICURL__logo/{$logo|get_cover='path'}" /></a>
            </div>
            <div class="outlet fl clear">
                <h2 class="fl">我的会员中心</h2>— —{$meta_title}</div>
        </div>
    </div>
</header>