<extend name="Base/common_index"/>
<block name="body">
<!--头部 S-->
<div class="herder">
      <a href="javascript:history.go(-1);" class="back"><i></i></a>
      <h3>商品评价</h3>
     <!-- <div class="herd_r"><a href="search.html" class="search"><i></i></a></div>-->
</div>
<div class="t_line"></div>
<!--头部 E--> 
<!--精抢购选 S--> 

<!--精抢购选 E--> 
<div class="sp_reviews">
  <ul>
    <li>
      <dt>
        <div class="img"><img src="__IMG__/head.jpg" alt="" /></div>
        <h4>英***勤</h4>
      </dt>
      <dd>
        <div class="reviews_nr">
          商品和描述一致，很好看，很漂亮。
        </div>
         <a href="javascript:;"><div class="reviews_xj"><span>2015-08-26</span><i class="grade grade_4"><em></em></i>4分</div></a>
      </dd>
    </li>
    <li>
      <dt>
        <div class="img"><img src="__IMG__/head.jpg" alt="" /></div>
        <h4>英***勤</h4>
      </dt>
      <dd>
        <div class="reviews_nr">
          商品和描述一致，很好看，很漂亮，戴起来很洋气,提升逼格利器。
        </div>
         <a href="javascript:;"><div class="reviews_xj"><span>2015-08-26</span><i class="grade grade_2"><em></em></i>2分</div></a>
      </dd>
    </li>
    <li>
      <dt>
        <div class="img"><img src="__IMG__/head.jpg" alt="" /></div>
        <h4>英***勤</h4>
      </dt>
      <dd>
        <div class="reviews_nr">
          商品和描述一致，很好看，很漂亮，戴起来很洋气,提升逼格利器。
        </div>
         <div class="reviews_img">
             <span class="img"><img src="__IMG__/up_1.png" alt="" /></span>
             <span class="img"><img src="__IMG__/up_1.png" alt="" /></span>
             <span class="img"><img src="__IMG__/up_1.png" alt="" /></span>
          </div>
         <a href="javascript:;"><div class="reviews_xj"><span>2015-08-26</span><i class="grade grade_5"><em></em></i>5分</div></a>
      </dd>
    </li>
  </ul>
</div> 
<!--底部 E-->
</block>