<extend name="Base/common_index"/>
<block name="body">
<!--头部 S-->
<div class="herder">
      <a href="javascript:history.go(-1);" class="back"><i></i></a>
      <h3>编辑地址</h3>
     <!-- <div class="herd_r"><a href="search.html" class="search"><i></i></a></div>-->
</div>
<div class="t_line"></div>
<!--头部 E--> 
<!--地址列表 S--> 
 <div class="edi_add">
	<div class="list">
		<span>收货人</span>
		<input type="text" placeholder="请输入收货人姓名" class="" />
	</div>	
	<div class="list">
		<span>联系方式</span>
		<input type="text" placeholder="请输入您的联系方式" class="" />
	</div>	
	<div class="list area">
		<span>所在地区</span>
		<select>
			<option>请选择省</option>
			<option>请选择省1</option>
			<option>请选择省2</option>
			<option>请选择省3</option>
		</select>
		<select>
			<option>请选择省</option>
			<option>请选择省1</option>
			<option>请选择省2</option>
			<option>请选择省3</option>
		</select>
		<select>
			<option>请选择省</option>
			<option>请选择省1</option>
			<option>请选择省2</option>
			<option>请选择省3</option>
		</select>
	</div>
	<div class="list">
		<span>详细地址</span>
		<input type="text" placeholder="请输入详细地址" class="" />
	</div>	
	<div class="list">
		<span>身份证号</span>
		<input type="text" placeholder="请输入收货人身份证号" class="" />
	</div>	
	<div class="setD bg_fa clear">
		<div class="fl">
			<a class=" " href="javascript:;"><i class="check checked"></i>默认地址</a>
		</div>
	</div>
</div>
<div class="fix_bo">
	<input type="button" class="long_btn" value="保存并使用" />
</div>
<!--地址列表 E-->  
<!--底部 S-->
<div class="b_line"></div>
<!--底部 E-->
</block>