<extend name="Base/common_index"/>
<!-- 头部 -->
<block name="body">
    <style>
        .all-naiv{ display: none;}
    </style>
    <!-- 内容 -->
    <!-- 位置 -->
   <div class="towp re-find">
    <h3>找回密码</h3>
    <div class="phone">
        <div class="step bor step3"></div>
        <div class="suc">
            <i class="bg"></i>恭喜您，修改密码成功!
        </div>
        <dl><dd style="margin-left: 48px;"> <a href="{:U('member/login')}" class="a-btn">立即登录</a> </dd></dl>
    </div>
</div>
    <!-- 内容  END-->
</block>