<span class="centre_box"><a class="centre" href="{:U('member/index')}">会员中心</a></span>
<div class="menu">
    <dl>
        <dt  <if condition="ACTION_NAME eq 'index' and CONTROLLER_NAME eq Member">class="actives"</if>><a href="{:U('member/index')}">会员中心</a></dt>
        <dt <eq name='ACTION_NAME' value='mycollection'> class="actives"</eq>><a href="{:U('member/mycollection')}">我的收藏</a></dt>
        <if condition="session('memberinfo.member_type') eq 1">
            <dt <eq name='CONTROLLER_NAME' value='Agent'> class="actives"</eq>><a href="{:U('agent/index')}">代理管理</a></dt>
        </if>
        <if condition="session('memberinfo.member_type') eq 2">
            <dt <eq name='CONTROLLER_NAME' value='Agent'> class="actives"</eq>><a href="{:U('agent/index')}">代理管理</a></dt>
            <dt <eq name='CONTROLLER_NAME' value='Express'> class="actives"</eq>><a href="{:U('express/index')}">快件管理</a></dt>
        </if>
        <dt <eq name='CONTROLLER_NAME' value='Order'> class="actives"</eq>><a href="{:U('order/index')}">订单管理</a></dt>
        <dt <eq name='CONTROLLER_NAME' value='Comment'> class="actives"</eq>><a href="{:U('Comment/index')}">评价管理</a></dt>
        <dt <eq name='ACTION_NAME' value='address'> class="actives"</eq>><a href="{:U('member/address')}">收货地址管理</a></dt>
        <dt <eq name='CONTROLLER_NAME' value='Safety'> class="actives"</eq>><a href="{:U('Safety/safety')}">安全验证</a></dt>
        <dt <eq name='CONTROLLER_NAME' value='Refund'> class="actives"</eq>><a href="{:U('refund/index')}">售后服务</a></dt>
    </dl>
</div>