<extend name="Base/common_index"/>
<block name="body">
    <!--头部 S-->
    <div class="herder ">
        <a href="javascript:history.go(-1);" class="back"><i></i></a>
        <h3>我的收藏</h3>   

    </div>
    <div class="t_line"></div>
    <!--头部 E--> 
    <!--订单列表 S--> 
    <notempty name="favorlist">
        <div class="order_list order_list2 colled">
            <ul id="conten_id">
                <volist name="favorlist" id="fo" key="k" empty='没有收藏商品'>
                    <li rel='{$fo.id}'>
                        <input name="" type="checkbox" class="chk flow_checkbox" value="{$fo['id']}" >
                        <a href=" {:U('Goods/detail',array('channelname'=>$fo['channelname'],'id'=>$fo['id']) )}">
                            <img src="{$fo['pics_img'][$fo['cover_id']]}" />
                            <div class="pro_info">
                                <h3><a href="{:U('Goods/detail',array('channelname'=>$fo['channelname'],'id'=>$fo['id']) )}" >{$fo.title}</a></h3>
                                <p class="pric">
                                    <span>￥<span class="font36">{$fo.price}</span>
                                    </span>
                                    <i>&yen;{$fo.marketprice}</i>
                                    <a href="javascript:addfavortable(this ,{$fo.id});" class="addfavortable"></a>
                                    <a href="javascript:addcart('{$fo.id}',1,'{$fo.price}','');" class="addcartbutton"></a>
                                </p>
                            </div>
                            <!--<div class="to_shop_car">
                                    <a href="flow.html" class=""><img src="__IMG__/shopcar.png" /></a>
                            </div>-->
                        </a>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="flow_footer flow_footer2 " style="bottom:0; margin-bottom: 1rem">
            <input name="" type="checkbox" class="chk_all flow_checkbox" id="checkall" value=""  />
            <label for="checkall ">全选</label>    
            <div class="flow_footer_cz">
                <a href="javascript:batchDelete();" class="jiesuan yd_tc_btn">删除</a> </div>    
        </div>
        <else/>
        <div class="no_data">
            <h3>
                <i class=""> <img src="__IMG__/ts.png"/> </i> 没有收藏记录哦
            </h3>						        	
        </div>
    </notempty>
    <!--订单列表 E--> 
    <div  class="yd_tc">
        <div class="tijiao_true">	
            <h3>确定删除该商品</h3>
            <div><a href="javascript:;" class="cancel" >取消</a><a href="javascript:;" >确定</a></div>
        </div>
    </div>
    <div id="loding_ajax" style=" text-align:center;height:.88rem;line-height:.88rem;font-size: .44rem;font-weight: bold;color: #000; display: none;">加载中····</div>
</block>
<block name='script'>
    <script src="__JS__/ajaxpage.js" ></script>
    <script>
        $(function() {
            AjaxPage.pageCount = "{$totalPages|default=0}";
            AjaxPage.append = 1;
            AjaxPage.method = 'GET';
            AjaxPage.dataType = "html";
            AjaxPage.Conten = $('#conten_id');
            AjaxPage.alert = $('#loding_ajax');
            AjaxPage.filter.ajax = 1;
            $(window).scroll(function() {
                if ($(window).height() + 200 + $(window).scrollTop() > $('body').outerHeight() && AjaxPage.canpage) {
                    AjaxPage.canpage = false;
                    AjaxPage.gotoPageNext();
                }
            });
        });
    </script>
    <script type="text/javascript">
//        $(function() {
//            layer.confirm('确定要删除该收藏商品吗?', {icon: 3, title: '提示'}, function(index) {
//                //do something
//                console.log(index);
//
//                layer.close(index);
//            });
//        })

        function regoodsprice() {
            var option = $(".chk");
            var checkall = true;
            option.each(function(i) {
                if (!$(this).prop("checked")) {
                    checkall = false;
                }
            });
            $(".chk_all").prop("checked", checkall);
        }
        $(".chk_all").click(function() {
            $(".chk").prop("checked", this.checked);
            regoodsprice();
        });
        // 批量删除
        function batchDelete() {
            if ($('input.chk:checked').length > 0) {
                var laylerindex = layer.confirm('确定要批量删除购物车的商品吗？', {icon: 3, title: '提示'}, function(index) {
                    if (index) {
                        var sortArr = [];
                        var objo = $('input.chk:checked');
                        for (var i = 0; i < objo.length; i++) {
                            sortArr.push(objo[i].value);
                        }
                        var sorts = sortArr.join(',');
//                            alert(sorts);return false;
                        $.ajax({
                            type: 'post', //传送的方式,get/post
                            url: '{:U("Member/delcollect")}', //发送数据的地址
                            data: {goodsids: sorts},
                            dataType: "json",
                            success: function(data) {
                                $.each(sortArr, function(i, item) {
                                    $("li[rel=" + item + "]").slideUp().remove();
                                });
                                layer.close(laylerindex);
                                regoodsprice();
                                var a = data.goodsNum;
//                                if (a == "0") {
                                window.location.reload();
//                                }

                            },
                            error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                                layer.msg(XMLHttpRequest + thrownError);
                            }
                        });
                    } else {
                        return false;
                    }
                });
            } else {
                layer.msg("请勾选商品");
                return false;
            }
        }
    </script>

</block>