<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/web_code/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="__JS__/web_code/index-admin.css" media="all">

</block>
<block name="body">
    	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script> 
    <div class="web_code">
        <div class="main-title">
            <h2>{$meta_title} <a href="javascript:;;">{$info.name}</a></h2>
          <div class="banner_box" style="height: 474px; width: 100%;overflow: hidden;">
		<div class="swiper-container">
			  <div class="swiper-wrapper">
                              {:hook('Advs',array('mark'=>'index_A1','domainid'=>'','domaintype'=>'site'))}
			  </div>
		</div>
		<div class="pagination"></div>
            </div>  
        <div class="form-item cf" style='margin-top:20px;'>
            <a class="btn btn-return" href="{:U('Websetting/index')}">返 回</a>
            <a class="btn btn-next" href="{:U('AdvertisingPage/imgdetail',array('domainid'=>1,'id'=>15))}">编辑首页轮播图</a>
            <input type="hidden" name="subdomain_id" value="2">
        </div>
    </div>
 
    <include file="Websetting/module_code"/>
</block>
<block name="script">
    <script>
            //导航高亮
        highlight_subnav('{:U("Websetting/banner")}');
    </script>
</block>
